<div id="#filtros_datos" class="container-fluid contenedor-filtros-4-columnas">
    <div class="titleBox row">
        <i class="glyphicon glyphicon-filter"></i> FILTROS
    </div>
    <div class="row">
        <form id="form_filtros" name="form_filtros" method="post" action="#" class="box">
            <div class="conjuntoFiltros row" style="margin-left: -10px; margin-right: -10px;">
                <div class="">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 caja caja-color caja-borde">
                        {% include 'FrontBundle:Widgets:WidgetFechasTemporalidad.html.twig' with {"id" : contenedor.widgets[1].id, "datos": contenedor.widgets[1].datos} %}

                        <div class="col-xs-12 col-sm-12" style="margin-bottom:10px;text-align: center;">
                            <span style="width:40px; display:inline-block;">Todos</span>
                            <a href="#"><img id="seleccionar-todo-btn" title="Seleccionar todo" src="{{asset('bundles/front/css/images/ico_checkbox_check.png')}}" border="0" width="16"></a>
                            <a href="#"><img id="desmarcar-todo-btn" title="Desmarcar todo" src="{{asset('bundles/front/css/images/ico_checkbox_uncheck.png')}}" border="0" width="16"></a>
                            <br />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        {% include 'FrontBundle:Widgets:Especificos/WidgetFiltrosEspecializadosMultiselectMulticolumna.html.twig' with {'datos': contenedor.widgets[0].datos, "id": contenedor.widgets[0].id, "columnas": 3} %}
                    </div>
                </div>
                <div class="" style="clear: both;text-align:center; padding-top:10px;">
                    <input id="submit_filtros" value="Consultar" class="btn btn-succes" type="submit">
                </div>
            </div>
        </form>
    </div>
</div>

{# ATENCION: Cuando se vaya a usar este contenedor en otra maqueta, habría
    que implementar una herencia de twigs para gestionar
    el bloque de javascript, que sería muy posiblemente distinto #}
<script>
    $("#submit_filtros").click(function(ev){
        ev.preventDefault(); // Evita el envío del formulario
        // Comprueba los inputs del widget de fechas 
        // y pone una alerta si no es correcta
        if(!compruebaWidgetFechasTemporalidad()){
            return false;
        } 
        //Llamada Ajax a los filtros activos de encuestas
        // Instancia de ajaxWorldDomination para la recarga del widget FiltrosActivos
        var ajaxWidgetFiltrosActivos = ajaxWorldDomination(
          ajaxUtils.getFiltros('filtro-maqueta'),
          Routing.generate("widgets_recargables") + "/encuestas",
          ["WidgetFiltrosActivos"]
        );
        ajaxWidgetFiltrosActivos.recargaAjax();

        //Llamada a la datatable de encuestas
        dTable.setAjaxConFiltros(); // Permite añadir los filtros 
                                    // seleccionados de la maqueta
        dTable.tabla.draw();
    });

    $("#seleccionar-todo-btn").click(function(){
        $(".widget-filtros-especializado select").multiselect("checkAll");
    })

    $("#desmarcar-todo-btn").click(function(){
        $(".widget-filtros-especializado select").multiselect("uncheckAll");
    })

</script>