<div id="contenedor-filtros" class="col-xs-12 contenedor-widgets-filtros caja caja-color caja-borde distribucion-vertical-standard no-padding">
    <form action="">
        {% for widget in widgets %}
            {% include widget.twig with {"datos": widget.datos, "id": widget.id}%}
        {% endfor %}

       <div class="col-xs-12 btn-contenedor">
            <button class="btn btn-default">Consultar</button>
       </div>
    </form>
</div>

<script>

$(document).ready(function(){
    var dominacionAjax = (function dominacionMundial()
    {

        $(".has-spinner").addClass("spinning");

        var targets = $('.has-spinner').parent();

        targets = $.map(targets, function(n, i){
            return $(n).attr("id");
        });


        var dominacionAjax = ajaxWorldDomination(
            ajaxUtils.getFiltros("filtro-maqueta"),
            Routing.generate("widgets_recargables") + ajaxUtils.getSlug(),
            targets
        );

        return dominacionAjax;
    })();

    $('#contenedor-filtros .btn.btn-default').click(function(e){
        e.preventDefault();
        // Comprueba los inputs del widget de fechas 
        // y pone una alerta si no es correcta
        if(!compruebaWidgetFechasTemporalidad()){
            return false;
        }
        dominacionAjax.setDatosPeticion(ajaxUtils.getFiltros("filtro-maqueta"));
        dominacionAjax.recargaAjax();
    });

});


</script>