{#
    Contenedor menú ha de recibir siempre 3 widgets. El widget que ocupe la
    última posición (orden 3 en base de datos) ha de ser el widget de los links
#}
<div class="col-xs-12 cem-menu">
    <div class="col-xs-3 col-lg-2 cem-menu-img-contenedor">
        {% include widgets[0]["twig"] with {"datos" : widgets[0]["datos"]} %}
    </div>
    <div class="col-xs-3  col-xs-offset-6 col-lg-offset-0 col-lg-2 col-lg-push-8 cem-menu-img-contenedor">
        {% include widgets[1]["twig"] with {"datos" : widgets[1]["datos"]} %}
    </div>
    <div class="col-xs-12 col-lg-8 col-lg-pull-2">
        {% include  widgets[2]["twig"] with {"widgetLinks" : widgets[2]["datos"]} %}
    </div>
</div>