<div class="contenedor-fixed-superior">
     <span class="mensaje-bienvenida">
        <span class="fa fa-user icono-usuario"></span>Bienvenido, {{app.user.username}}</span>
     <a class="cierre-sesion" href="{{ path('fos_user_security_logout') }}">
        <span class="fa fa-power-off"></span> Cerrar Sesión</a>
</div>