@import '../../../../app/Resources/scss/_general.scss';
/* ------------------- Contenedor 4 columnas -------------------------- */

.contenedor-filtros-4-columnas{
    background-color: $gris-muy-claro;

    [class^="col-"] {
        padding: 0;
    }

    .panel {
        border-color: $gris-medio;
    }

    .panel-default>.panel-heading{
        background-color: $gris-claro;
        color: $gris-oscuro;
        border-color: $gris-medio;
    }

    .titleBox{
        background-color: $gris-claro;
        color: $gris-oscuro;

        & > i {
            padding: 10px;
        }
    }

    form {
        padding: 15px;
    }

    input[type="submit"]{
        width: 100%;
        padding: 5px;
        font-weight: bold;

        @include estilosBoton();
    }

}
