@import '../../../../app/Resources/scss/_general.scss';
/* ----------------- CONTENEDOR MENÚ  ------------------- */
$ancho-borde: 2px;
$menu-height: 100px;
$numero-links: 7; // Dato para hacer una serie de cálculos a continuación
$link-resaltado-background: $color-corporativo;
$color-borde: $gris-claro;
$color-background: $gris-muy-claro;

/* Anchura para cuando el menú baja de línea pero aún no entra en el formato
para dispositivos móviles de menú vertical. Este valor se utiliza en una
media-query */
$ancho-salto-linea: 1199px;

@mixin links-sizing() {
    padding: 5px 10px;
    height: $menu-height;
}

.cem-menu{
    background-color: $color-background;
    padding: 0;
    /* Contenedores de las imágenes de Madison y del
    cliente */
    .cem-menu-img-contenedor {
        position: relative;
        min-height: $menu-height;
        & img {
            max-height: 90%;
            max-width: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
       }
    }
    .cem-menu-enlaces {

        /* Hace el ancho de los links en el menú pseudo-dinámico (hay que poner
        cuantos links se tienen para que funcione) */
        & > li {
            width: 100%/$numero-links;

            /* Necesario para que cuando adquira la forma de menú vertical en
            dispositivos móviles, los links ocupen todo el ancho */
            @media (max-width:768px){
                width:100%;
            }
        }

        /* Ajuste para que cuando el menú baja a la línea inferior, ocupe el
        100% de la línea. Además, esto permite dejar centrado */
        @media (max-width:$ancho-salto-linea){
            width: 100%;
        }

        li {
            border-left: $ancho-borde solid $color-borde;

            &:last-of-type{
                border-right: $ancho-borde solid $color-borde;
            }

            &:hover, &[active] {
                background-color: $link-resaltado-background;
            }
            /* Estas reglas de hover las utilizo aquí para poder afectar más
            fácilmente a los enlaces cuando li tiene el atributo active */
            & a:hover, &[active] a{
                color: white;
                /* Sobreescribe el background color
                que pone bootstrap a los elementos
                de navbar */
                background-color: transparent;

                /* Los iconos son sprites de imágenes png, por eso  se juega con
                el background position para simular un cambio de posición y
                color de la imagen*/
                .icon {
                    background-position: center -92px;
                    padding-top:10px;
                }
            }
        }

        a {
            color: black;
            @include links-sizing();

            /* Icono que aparece sobre el nombre de las vistas en el menú */
            .icon {
                padding-top:20px;
                width: 100%;
                height: $menu-height/2;
                background-repeat: no-repeat;
                background-position: center 0;
            }

            div {
                text-align:center;

            }
        }
    }
}
