$color-borde: #EEEEEE;

.contenedor-widgets-filtros{
    .btn {
        width: 100%; /* Ocupa todo el espacio de su columna */
        margin-top: 10px;
    }

    .btn-contenedor {
        border-top: 1px $color-borde solid;
        padding-bottom: 10px;
    }
}