@import '../../../../app/Resources/scss/_general.scss';
$color-texto: #9d9d9d;

.contenedor-fixed-superior{
    position:fixed;
    top:0;
    padding:5px 0 5px 5px;
    width:100%;
    background-color:#222222;
    z-index:100;
    color:$color-texto;
    font-size: bold;

    .cierre-sesion{
        padding:5px 10px 5px 10px;
        border-left: 1px $gris-oscuro solid;
        border-right: 1px $gris-oscuro solid;
        color: $color-texto;
        text-decoration:none;

        &:hover{
            background-color: black;
            color: $gris-muy-claro;
        }
    }

    .icono-usuario{
        margin-right: 5px;
    }

    .mensaje-bienvenida {
        padding: 5px 5px 5px 5px;
    }
}