/* ------------------- Tabs Cuadro Mando -------------------------- */

$estilo-bordes: 1px solid #ddd;



.cem-nav-tab {
    &.tabs {
        margin: 0 15px;
        border-bottom: $estilo-bordes;

        li {
            color: #848484;
            background-color: #E6E6E6;
        }

        li.active {
            color: black;
            background-color: white;
        }
    }

    &.contenido{
            margin: 0 15px;
            border-left: $estilo-bordes;
            border-bottom: $estilo-bordes;
            border-right: $estilo-bordes;
            
            //radios
            -moz-border-bottom-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -o-border-bottom-right-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -o-border-bottom-left-radius: 4px;

            border-bottom-right-radius:4px;
            border-bottom-left-radius:4px; 
    }
}