@import '../../../../app/Resources/scss/_general.scss';


.widget-filtros-especializado.horizontal{
    .btn{
        @include estilosBoton();
    }

    &.con-etiquetas{
        .btn {
            margin-top: 24px;
        }
    }
}
