@import '../../../../app/Resources/scss/_general.scss';

.widget-tabla-acumulados{
    .table th {
        background-color: white;
        color: $color-corporativo;
        border-color: $gris-medio;
        text-align: center;

        &:first-child{
            text-align: left;
        }
    }

    .fila-totales td:first-child{
        text-align:left;
    }

    .table td {
        border-color: $gris-medio;
    }

    .nombre-indicador{
        text-align: right;
    }

    td:not(.nombre-indicador){
        text-align: center;
    }
}