/* ------------------- Widget Fechas -------------------------- */

.widget-fechas {
    .input-group-addon{
        /* Para que los 2 addons presentes tengan el mismo tamaño. En caso de
        que el tamaño del más grande excediera 88px, habría que actualizar este
        valor */
        //min-width: 60px;
		
		// Para que los dos addons tengan el mismo tamaño.		
        max-width: 60px;
    }
}