@import '../../../../app/Resources/scss/_general.scss';

.filtros-seleccionados{
    .cabecera:hover{
        background-color: darken($gris-claro, 5%);
        color: darken($gris-oscuro, 10%);
        cursor: pointer;
    }

    .cabecera .fa{
        line-height: 23px;
    }

    .contenedor-datos-filtros {
        margin: 0px 10px 10px 30px;
    }

    .div-filtro{
        //line-height: 2em;
    }

    .nombre-filtro {
        font-weight: bold;
        display: inline-block;
        //width: 50%;
        float: left;
        text-transform: uppercase;
    }

    .valores-filtro {
        padding-left: 10px;
    }

}