@import '../../../../app/Resources/scss/_general.scss';

/* ----------------------- WIDGET DATATABLE -------------------------------- */

.widget-datatable{
    min-height: 200px;

    // DIV contenedor
    .enlace-exportacion {
        text-align: right;

        a.disabled{
            color: $gris-oscuro;
        }

        a {
            color: black;
        }

        .fa.fa-file-excel-o{
            color: green;
        }

        .disabled .fa.fa-file-excel-o{
            color: $color-corporativo;
        }

        border-bottom: 1px $gris-medio solid;

        padding: 5px 0;
        margin-bottom: 10px;
    }

    .ver-encuesta{
        text-align: center;

        a {
            text-decoration: none;
            color: $gris-oscuro;

            &:hover{
                cursor: pointer;
            }
        }
    }

    thead {
        th {
            color: $color-corporativo;
        }
    }

    tbody tr td:last-child{
        text-align:center;
    }

    table {
        border: 1px $gris-medio solid;
    }

    .table-bordered>tbody>tr>td,.table-bordered>thead>tr>th{
        border-color: $gris-medio;
    }

    .pagination>.active>a, .pagination>.active>a:focus,
    .pagination>.active>a:hover, .pagination>.active>span,
    .pagination>.active>span:focus, .pagination>.active>span:hover{
        background-color: $color-corporativo;
        border-color: $color-corporativo
    }


    .titulo-leyenda {
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    @mixin propiedadesItemsLeyenda($color){
        .representacion {
            height: 20px;
            width: 40px;
            margin-right: 20px;
            background-color: $color;
            display: inline-block;
        }
        span {
            position:absolute;
            top: 50%;
            transform: translateY(-65%);
        }
    }

    .leyenda {

        border: 1px $gris-medio solid;

        .promotor {
            @include propiedadesItemsLeyenda($verde-bootstrap);
        }

        .neutral{
            @include propiedadesItemsLeyenda($amarillo-bootstrap);
        }

        .detractor{
            @include propiedadesItemsLeyenda($rojo-bootstrap);
        }
    }

    //Datatable ventana modal
    .modal-header{
        padding-bottom: 5px;
    }
    .modal-body{
        padding-top: 5px;
    }
    .modal-body .table tbody,modal-footer .leyenda{
        font-size: 12px;
    }
    .modal-body .table > tbody > tr > td{
        padding: 5px;
    }
    .modal-footer{
        text-align:left;
    }
}