@import '../../../../app/Resources/scss/_general.scss';

// ---------------------  Widget Treegrid ------------------------------
.widget-treegrid{
    padding: 0;
    overflow-x: auto;

    .table th {
        background-color: white;
        color: $color-corporativo;
        border-color: $gris-medio;
        font-size: 0.9em;
        font-weight: bolder;
        text-align: center;
    }

    .table td {
        border-color: $gris-medio;
    }

    .nombre-nodo {
        text-transform: capitalize;

        &:not(:last-child)::after{
            content: " / ";
        }
    }

    .table tbody tr{
        text-align: center;

        td:first-child{
            text-align: left;
        }
    }

    .emotional-index-feedback{
        display: inline-block;
        color: white;
        padding: 0 5px;
        border-radius: 25%;
        font-size: 1.2em;

        &.positivo{
            background-color: green;
        }
        &.negativo{
            background-color: red;
        }
        &.neutral{
            background-color: orange;
        }
    }

    .emotional-index-value{
        display: inline-block;
        width: 40%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .treegrid-btn {
        padding: 3px 6px 3px 6px;
        float: right;
        color: $color-corporativo;
    }

    // ------------Leyenda ----------
    .titulo-leyenda {
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    @mixin propiedadesItemsLeyenda($color){
        .representacion {
            height: 20px;
            width: 40px;
            margin-right: 20px;
            background-color: $color;
            display: inline-block;
        }
        span {
            position:absolute;
            top: 50%;
            transform: translateY(-65%);
        }
    }

    .leyenda {

        border: 1px $gris-medio solid;
        font-size: 0.9em;
        padding-bottom: 5px;

        .strong {
            color: $gris-oscuro;
            font-weight: bolder;
        }

        .small {
            font-size: 0.8em;
        }

        &:first-child{
            float: left;
            width: 42%;
            .promotor{
                color: $verde-bootstrap;
                font-weight: bolder;
            }
            .detractor{
                color: $rojo-bootstrap;
                font-weight: bolder;
            }
            .neutral{
                color: $amarillo-bootstrap;
                font-weight: bolder;
            }
        }

        &:last-child{
            float:right;
            width: 57%;
        }
    }

    .no-data{
        padding: 5px 15px 15px 15px;
        font-style: italic;
        text-align: center;
    }
}
