@import '../../../../app/Resources/scss/_general.scss';

/* ------------------- WidgetNumEncuestas -------------------------- */
$color-icono : black;
$color-borde: #EEEEEE;

.widget-num-encuestas{

    padding: 5px 15px 5px 15px;
    font-weight: bold;

    .row{
        /* Elimino el margin por defecto de bootstrap que daba
        problemas con el padding de num-encuestas */
        margin: 0;
    }

    .fecha-block {
        padding: 5px 0;
        border-bottom: 1px $color-borde solid;
    }

    .content-block {
        padding: 10px 0;
    }

    .icon-block {
        padding-left: 0;

        i {
            font-size: 2.8em;
            color: $color-corporativo;
        }
    }
    .text-block p{
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;

    }
}
