@import '../../../../app/Resources/scss/_general.scss';
/* ----------------------- WIDGET GRAFICOS -------------------------------- */
.widget-grafico{
    padding: 0;
    box-shadow: 0 0 4px $gris-claro;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    .cabecera{
        background-color: $gris-muy-claro;
        font-size: 1.2em;
        font-weight: bold;
        padding: 5px 15px 5px 15px;
        text-align: center;
        color: $color-corporativo;
        text-transform: uppercase;
    }

    .overlay-indicador {
        font-size: 1.2em;
        font-weight: bold;
        color: #094FA4;
    }

}