@import '../../../../app/Resources/scss/_general.scss';
/* -------------------------- WIDGET FILTROS ----------------------------- */

.widget-filtros {
    .col-xs-4{
        padding: 0;
    }

    button{
        width: 95% !important;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        display: block;
    }

    .ui-state-default, .ui- {
        background: white;
    }

    .ui-multiselect-menu {
        width: 100% !important;
    }
}

