
@import '../../../../app/Resources/scss/_general.scss';
// ------ WidgetFiltrosEspecializados ---------

$color-texto: $gris-oscuro;

.widget-filtros-especializado{
    color: $color-texto;
    .cabecera{
        background-color: $gris-claro;
        font-size: 1.2em;
        font-weight: bold;
        padding: 5px 15px 5px 15px;
        text-transform: uppercase;
    }

    .tag {
        font-weight: bold;
        text-transform: capitalize;
    }

    .cuerpo{
        padding-top: 10px;

        select {
            margin-bottom: 10px;
            font-size: 0.9em;
            text-transform: capitalize;
        }
    }

    .ui-multiselect-menu {
        width: 200px !important;
    }

    .ui-multiselect-filter input[type=search]{
        width: 200px !important;
    }
}
