<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css')}}">

        <!--
            JQUERY
            Se carga la versión 2.1.4 por compatibilidad con jquery multiselect
        -->
        <script src="{{ asset('js/jquery.js')}}"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
            crossorigin="anonymous"></script> -->

        <!-- BOOTSTRAP Latest compiled and minified JavaScript -->
        <script src="{{ asset('js/bootstrap.js')}}"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"</script> -->
        {# Version online libreria graficos #}
        <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
        <!-- <script> google.charts.load('current', {packages: ['corechart']}); </script> -->
        

        <!-- Font-Awesome -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">

        <!-- Estilos generales del proyecto. Incluye css bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/main-min.css') }}">

        {# Carga de estilos #}
        {% block stylesheets%}
            {% stylesheets 'bundles/front/css/bootstrap-datetimepicker.min.css'
                            'bundles/front/css/dataTables.bootstrap.min.css'
                            'bundles/front/css/multiselectcss.css'
                            'bundles/front/css/jquery-ui-1.10.3.custom.css'
                            'bundles/front/css/jquerymultiselectcss.css'
                            'bundles/front/treegrid/css/jquery.treegrid.css'
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock stylesheets%}


        <!-- Carga de todas las dependencias de js necesarias para el proyecto -->
        {% javascripts
            '@FrontBundle/Resources/public/js/jquery-ui-1.8.23.custom.min.js'
            '@FrontBundle/Resources/public/js/AjaxWorldDomination.js'
            '@FrontBundle/Resources/public/js/jquerymultiselect-ss-multiparentalminjs.js'
            '@FrontBundle/Resources/public/js/jquerymultiselect-filterminjs.js'
            '@FrontBundle/Resources/public/js/collapse.js'
            '@FrontBundle/Resources/public/js/transition.js'

            '@FrontBundle/Resources/public/js/bootstrap-datetimepicker-moment.js'
            '@FrontBundle/Resources/public/js/bootstrap-datetimepicker.min.js'
            '@FrontBundle/Resources/public/js/dataTables.bootstrap.min.js'
            '@FrontBundle/Resources/public/js/fechas_utils.js'
            '@FrontBundle/Resources/public/js/valida-valores-repetidos.js'
            '@FrontBundle/Resources/public/treegrid/js/jquery.treegrid.js'
            '@FrontBundle/Resources/public/treegrid/js/jquery.treegrid.bootstrap3.js'

            '@FrontBundle/Resources/public/js/corechart/loader.js'
            '@FrontBundle/Resources/public/js/corechart/jsapi_compiled_format_module.js'
            '@FrontBundle/Resources/public/js/corechart/jsapi_compiled_default_module.js'
            '@FrontBundle/Resources/public/js/corechart/jsapi_compiled_ui_module.js'
            '@FrontBundle/Resources/public/js/corechart/jsapi_compiled_corechart_module.js'
            '@FrontBundle/Resources/public/js/graficosGoogle.js'
        %}
            <script src="{{asset_url}}"></script>
        {%  endjavascripts %}


        <!-- FOS Routing Bundle  -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <!-- Dependencias muy específicas de una maqueta -->
        {% block DependenciasJs%}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
