<div id="{{id}}" class=" col-xs-12 no-padding widget-filtros-especializado caja caja-color widget-fechas">
	<div class="col-xs-12 cabecera">{{datos.cabecera}}</div>

	<div class="col-xs-12 cuerpo" style="padding: 10px;">
		<select class="form-control filtro-maqueta" name="temporalidad" id="temporalidad">
			{% for valorOption, datosOption in  datos.filtros.temporalidad.filtroDatos.valores %}
				<option
				value="{{ valorOption }}"
				{% if datosOption.selected %} selected {% endif %}>
				{{ datosOption.texto }}
				</option>
			{% endfor %}
		</select>

		<div class="input-group fechas-izq datetimepicker">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-calendar"></i>Ini.:
			</span>
			<input  type="text" id="fec_ini" name="fec_ini" class="form-control filtro-maqueta"
				    placeholder="" aria-describedby="basic-addon1" data-type="fecha" 
				    data-toggle="tooltip-fecha-mayor"
				    title="La Fecha de Inicio debe ser menor o igual que Fecha Final."
				    required="true">
		</div>

		<div class="input-group fechas-der datetimepicker" >
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-calendar"></i>Fin:
			</span>
			<input type="text" id="fec_fin" name="fec_fin" data-type="fecha"
				   class="form-control filtro-maqueta" placeholder=""
				   aria-describedby="basic-addon1" required="true" />
		</div>
	</div>
</div>

<script>

	// Inicia datetimepicker.
	$('.datetimepicker').datetimepicker({
		defaultDate: moment(getFechaActual(),"YYYY/MM/DD"), // Seguridad: Si no hay fecha definida
															// Esta fecha es modificada por los datos en sesion
		format: "DD/MM/YYYY", //Formato visual y de salida del texto del datetimepicker
		locale: 'es',
		useStrict: true // Valida estrictamente la fecha modificada, una fecha vacía no la valida.
						// Otra opcion seria impedir que el usuario pueda editar el input text
		// Prohibir unas fechas minimas y maximas 
		//minDate: moment("2016/01/01","YYYY/MM/DD"), //prohibir las fechas anteriores al año que tenemos registros
		//maxDate: moment(new Date().getFullYear()+"/12/31","YYYY/MM/DD") //prohibir fechas superiores al año actual
	});

	// Para poder abrir el datetimepicker clickando en input-text
	$('.datetimepicker > [type="text"]').on("click", function(e){
		$(e.currentTarget) 		// Cogemos el elemento hermano previo y
								// transformamos en objeto jQuery para poder usar
								//las funciones siguientes
			.prev()				// Coge el elemento hermano previo. Span en este
								// caso
			.trigger("click"); 	// Lanza evento click en el hermano
	})

	// Evento cambio temporalidad
	$("#temporalidad").change(function(){
		$this = $(this);

		valorTemp = $this.val();

		if(valorTemp === "0"){
			$("#fec_ini").prev().html('<i class="glyphicon glyphicon-calendar"></i>Ini.:');
			$("#fec_fin").parent().show();
		}else{
			// Si no es de rango, 
			// cambia el texto de la fecha de ini a ref
			$("#fec_ini").prev().html('<i class="glyphicon glyphicon-calendar"></i>Ref.:'); 													
			$("#fec_fin").parent().hide();
			//Queremos que al cambiar de temporalidades y volver al rango
			//mantenga la ultima fecha seteada.
			//$("#fec_fin").val("");
		}
	});

	//Funcion autoejecutable que recoge los valores del backend
	(function(){
		$this = $("#temporalidad");

		valorTemp = $this.val();

		if(valorTemp === "0"){
			$("#fec_ini").prev().html('<i class="glyphicon glyphicon-calendar"></i>Ini.:');
			$("#fec_fin").parent().show();
		}else{
			// Si no es de rango, 
			// cambia el texto de la fecha de ini a ref
			$("#fec_ini").prev().html('<i class="glyphicon glyphicon-calendar"></i>Ref.:');
			$("#fec_fin").parent().hide();
			//Queremos que al cambiar de temporalidades y volver al rango
			//mantenga la ultima fecha seteada.
			//$("#fec_fin").val("");
		}

		var fec_ini_sesion = "{{datos.valoresSeleccionados.fec_ini}}";
		var fec_fin_sesion = "{{datos.valoresSeleccionados.fec_fin}}";

		if(fec_ini_sesion != "" && fec_ini_sesion != "0"){
			fec_ini_sesion = fec_ini_sesion.split("-").reverse()
													  .join("/");
			$("#fec_ini").val(fec_ini_sesion);
		}

		if(fec_fin_sesion != "" && fec_fin_sesion != "0"){
			fec_fin_sesion = fec_fin_sesion.split("-").reverse()
													  .join("/");

			$("#fec_fin").val(fec_fin_sesion);
		}

	})();

	// Evento blur para las fechas
	$(".input-group.datetimepicker input[type=text]").blur(function(){
		compruebaWidgetFechasTemporalidad();
	});

	// Funcion que comprueba que las fechas no lleguen vacias (alert-danger)
	// o con las fechas de inicio y fin cambiadas (tooltip-fecha-mayor)
	// Retorna true si todo ha ido bien.
	// Si ha habido un error pone alerta bootstrap y tooltip en el caso
	// de que la fecha de inicio sea mayor que la final
    function compruebaWidgetFechasTemporalidad(){

    	//Se quitan las posibles alertas que pudiesen tener
    	//Y se desactiva el tooltip de fecha mayor
    	$("#fec_ini").removeClass("alert-danger");
    	$("#fec_ini").tooltip('disable');
    	$("#fec_fin").removeClass("alert-danger");

        var fec_ini = $("#fec_ini").val();

        if( $("#temporalidad").val() === "0" ){ //Caso del rango
            
            var fec_fin = $("#fec_fin").val();

            if( fec_ini !== "" && fec_fin !== "" ){ //Compruebo que la fecha inicial sea <= fecha fin
                var f1 = new Date(fec_ini.split("/")[2], fec_ini.split("/")[1], fec_ini.split("/")[0]);
                var f2 = new Date(fec_fin.split("/")[2], fec_fin.split("/")[1], fec_fin.split("/")[0]);
                if( f1 > f2 ){
                	//Fecha inicial mayor que fecha final
                    $("#fec_ini").addClass("alert-danger");
                    $("[data-toggle=tooltip-fecha-mayor]").tooltip(); // Inicialización del tooltip
                    $("#fec_ini").tooltip("enable");
                    return false;
                }
            }else{ // Si alguna fecha esta vacia
            	if(fec_ini === "" && fec_fin === "" ){
            		$("#fec_ini").addClass("alert-danger");
            		$("#fec_fin").addClass("alert-danger");
            		return false;
            	}else if( fec_ini === "" ){
	                $("#fec_ini").addClass("alert-danger");
	                return false;
            	}else if(fec_fin === ""){
            		$("#fec_fin").addClass("alert-danger");
            		return false;
            	}
            
            }
        }else{ // Para otra temporalidad: Solo comprobar la fecha de inicio
            if( fec_ini === "" ){
                $("#fec_ini").addClass("alert-danger");
                return false;
            }
        }

        return true;
    }

    function getTextoAlerta(caso){
    	texto = '';
    	switch (caso){
    		case "fecha_vacia":
    			texto = "Seleccione una fecha.\n\n( Formato: dd/mm/yyyy )";
    			break;
    		case "fecha_mayor":
    			texto = "La Fecha de Inicio debe ser menor o igual que Fecha Final.";
    			break;
    		default:
    			texto = "Algo ha ido muuuuy mal";
    	}

    	return texto;
    }
</script>