{# alerta CG: Se podría construír un filtro especial para hacer estas operaciones
de forma automática #}

<div id="{{id}}"
    class="col-xs-12 no-padding widget-filtros-especializado horizontal
     {% if etiquetas %} con-etiquetas {% endif %}">
        <div class="col-xs-12 cabecera">
            {{datos.cabecera}}
        </div>
        <div class="col-xs-12 cuerpo caja caja-color">
            {% for filtroId, filtro in datos.filtros %}
                <div class="col-md-3">
                    {% if filtro.tag is defined %}
                        <label class="tag">{{ filtro.tag }}</label>
                    {% endif %}
                    <div class="form-group">
                        <select
                            name="{{filtroId}}"
                            id="{{filtroId}}"
                            class="form-control filtro-maqueta filtro-widget-visualizar">
                                {% for valorOption, datosOption in  filtro.filtroDatos.valores %}
                                    <option
                                        value="{{ valorOption }}"
                                        {% if datosOption.selected %} selected {% endif %}
                                        {% if valorOption == '0' %} hidden {% endif %}>
                                            {{ datosOption.texto }}
                                    </option>
                                {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-3">
                <a href="" class="col-xs-12 btn btn-default">Visualizar</a>
            </div>
        </div>
</div>
<script>
(function funcionNoAnonima(){
    var targets = [];

    {% if targets is defined %}
        targets = {{targets|json_encode|raw}};
    {% endif %}

    var $widget = $("#{{id}}");

    var $botonAjax = $widget.find(".btn");

    var funcionAjax = ajaxWorldDomination();
    funcionAjax.setPostUrl(Routing.generate("widgets_recargables"));
    funcionAjax.setTargets(targets);

    /* ---- Petición Ajax específica ---- */
    function onClickHandler(e){
        // NOTA: En los widgets de vistas y de procesos (maqueta principal)
        // el submit de los botones "Visualizar" solo setearan los filtros
        // que contienen ambos excepto los de FILTROS y TEMPORALIDAD

        var datosPeticionAjax = {
                // Clase específica para diferenciar los filtros genericos (filtro-maqueta)
                // de los filtros especificos del widget o widgets que nos interesa seleccionar.
                // En este caso nos interesa tanto los filtros de vistas como los de proceso.
                filtros: ajaxUtils.getFiltros('filtro-widget-visualizar')
                //Usando la herencia de clases de css tambien valdría, pero podría ser mas confuso.
                //filtros: ajaxUtils.getFiltros('widget-filtros-especializado.horizontal .filtro-maqueta')
            }

        funcionAjax.setDatosPeticion(datosPeticionAjax);
        funcionAjax.recargaAjax();
    }

    $botonAjax.click(function(e){
        e.preventDefault();

        var selectConErrores = $widget.find(".form-group.has-error");

        if(selectConErrores.length === 0){
            onClickHandler(e);
        }
    });

})();
</script>
{% block scripts %}
{% endblock scripts %}