{# alerta CG: Se podría construír un filtro especial para hacer estas operaciones
de forma automática #}
<div id="{{id}}"
    class="col-xs-12 no-padding widget-filtros-especializado caja caja-color">
        <div class="col-xs-12 cabecera">
            {{datos.cabecera}}
        </div>
        <div class="col-xs-12 cuerpo">
            {% for nombreFiltro, opcionesFiltro in datos.filtros %}
                <div class="btn-group" role="group" target-select="{{nombreFiltro}}">
                    {% for index, opcion in opcionesFiltro.filtroDatos.valores %}
                        <button type="button" class="btn btn-default"
                                data-value="{{index}}">{{opcion.texto}}</button>
                    {% endfor %}
                </div>
                <br>
                <!-- Este select es para poder mandar de forma autom.
                    el valor del radio-button al servidor ya que la
                    lógica estaba pensada para elementos con un id,
                    pero en los radio-button tendríamos 2 con el mismo
                    id
                -->
                <select class="filtro-maqueta" name="{{nombreFiltro}}" id="{{nombreFiltro}}" hidden>
                    {% for index, opcion in opcionesFiltro.filtroDatos.valores %}
                        <option value="{{index}}"></option>
                    {% endfor %}
                </select>
            {% endfor %}
        </div>
</div>

{% block scripts %}
{% endblock scripts %}

<script>
(function(){

        var treeViewAjax = ajaxWorldDomination();
        treeViewAjax.setPostUrl(Routing.generate('widgets_recargables'));
        treeViewAjax.setTargets(["WidgetTreeViewEnContenedorConZonaLateralEnPrincipal"]);

        $("div[target-select=fPrimeraVista] button").click(function(){
            var datosPeticion = {
                filtros: {}
            };

            $(this).addClass("active");
            $(this).siblings().removeClass("active");

            datoParaFiltro = $(this).attr("data-value");

            datosPeticion.filtros["fPrimeraVista"] = datoParaFiltro;

            $("select[name=fPrimeraVista]").val(datoParaFiltro);

            treeViewAjax.setDatosPeticion(datosPeticion);
            treeViewAjax.recargaAjax();
        });
})();
</script>
