<ul class="nav navbar-nav cem-menu-enlaces">
    {% for link in widgetLinks%}
    <li
        {# Comprobación para saber qué link es el que ha de ponerse como
        actualmente activo. #}
        {% if link.activo == true %} active {% endif %}
    >
        <a href="{{path('front') ~ '/' ~ link.referencia}}">
            <div class="icon">
                <i class="fa {{link.icono}} fa-2x" aria-hidden="true"></i>
            </div>
            <div>{{link.titulo}}</div>
        </a>
    </li>
    {% endfor %}
</ul>