<div id="{{id}}" class="col-xs-12 widget-treegrid">
    <div class="has-spinner"></div>
    {# La tabla está como hidden al inicio para evitar el efecto poco atractivo
    de que se renderice al principio una tabla normal y luego que se modifique
    por la treegrid #}
    <table class="tree table table-bordered" style="background-color:white" hidden>
        <thead>
            <tr>
                <th class="cabecera-nodos">
                    {% for nodo in datos.nodosSeleccionados %}
                        <span class="nombre-nodo">{{nodo}}</span>
                    {% endfor %}
                </th>
                <th>Nº Encuestas</th>
                <th>Experiencia</th>
                <th>Índice Rec.</th>
                <th>NPS</th>
                <th>Emotional Index</th>
                <th>Emoción Principal</th>
                <th>Process Index</th>
                <th>Esfuerzo Index</th>
            </tr>
        </thead>
        <tbody>
        {# Bucle for de creación de las filas de la tabla #}
        {% for datosNodo in datos.estructuraPlana %}
            <tr class="{{datosNodo.nodoTreeview}} {{datosNodo.nodoTreeviewPadre}}">
                <td>
                    {{datosNodo.texto}} <button class="btn btn-default treegrid-btn"><i class="fa fa-th-list"></i></button>
                </td>
                <td>
                    {{datosNodo.numEncuestas}}
                </td>
                <td>
                    {{datosNodo.experiencia}}
                </td>
                <td>
                    {{datosNodo.indiceRecomendacion}}
                </td>
                <td>
                    {{datosNodo.nps}}
                </td>
                <td>
                    <div class="emotional-index-feedback {{datosNodo.emotionalIndex.representacion}}">
                        <i class="{{datosNodo.emotionalIndex.icono}}"></i>
                    </div>
                    <p class="emotional-index-value">{{datosNodo.emotionalIndex.valor}}</p>
                </td>
                <td>
                    {{datosNodo.emocionPrincipal}} %
                </td>
                <td>
                    {{datosNodo.processIndex}}
                </td>
                <td>
                    {{datosNodo.esfuerzoIndex}}
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    <div class="col-xs-12 no-padding">
        <div class="leyenda leyenda-2-col">
          <div class="titulo-leyenda col-xs-12">
            <span class="strong">
                NPS = % promotores - % detractores
            </span>
          </div>
          <div class="col-xs-12">
              (<span class="detractor">DETRACTORES</span> (0-6); <span class="neutral">NEUTRALES</span> (7-8); <span class="promotor">PROMOTORES</span> (9-10))
          </div>
        </div>
        <div class="leyenda leyenda-2-col">
          <div class="titulo-leyenda col-xs-12">
            <span class="strong">PROCESS INDEX: </span>
            <span class="small">Indicador obtenido agregando la media de todas las variables específicas del proceso</span>
          </div>
          <div class="col-xs-12">
              <span class="strong">
                  PROCESS INDEX = MEDIA(preguntas de valoración de cada proceso)
              </span>
          </div>
        </div>
    </div>
</div>

<script>

    $('.tree').treegrid({initialState:'collapsed'});
    // Mostramos la tabla una vez ya ha sido inicializada la treegrid
    $('.tree').show();

    $("#{{id}} button").click(function(){
        $boton = $(this);

        var $fila = $boton.parent() // td
                          .parent();// tr

        var arrayCombinacion = procesadoAnidacion($fila.attr("class"));

        lanzarConsultaTablaAcumulados(arrayCombinacion);
    });

    /**
     * Devuelve combinación de la fila elegida.
     * @param  {[type]} stringCombinacion [description]
     * @return {[type]}                   [description]
     */
    function procesadoAnidacion(stringCombinacion)
    {
        var nodoPrincipal = $("#fPrimeraVista option:selected").text()
                                                                .toLowerCase()
                                                                .trim();

        var nodoSecundario = $("#fSegundaVista option:selected").text()
                                                                 .toLowerCase()
                                                                 .trim();

        var nodoTerciario = $("#fTerceraVista option:selected").text()
                                                                .toLowerCase()
                                                                .trim();


        var re = /treegrid-((\d-?)+)/;
        var arrayCombinacion = re.exec(stringCombinacion)[1].split("-");

        var objetoArrayCombinacion = {};

        objetoArrayCombinacion[nodoPrincipal] = arrayCombinacion[0];
        objetoArrayCombinacion[nodoSecundario] = arrayCombinacion[1];
        objetoArrayCombinacion[nodoTerciario] = arrayCombinacion[2];

        return objetoArrayCombinacion;
    }

    function lanzarConsultaTablaAcumulados(arrayCombinacion){
        var negocio;
        var canal;
        var proceso;

        negocio = arrayCombinacion["negocio"] || 0;
        canal   = arrayCombinacion["canal"] || 0;
        proceso = arrayCombinacion["proceso"] || 0;

        $filtroNegocio = $("#neg-acumulados");
        $filtroCanal = $("#can-acumulados");
        $filtroProceso = $("#proceso-acumulados");

        if($filtroNegocio.prop("disabled") == false){
            $filtroNegocio.val(negocio);
        }
        if($filtroCanal.prop("disabled") == false){
            $filtroCanal.val(canal);
        }
        if($filtroProceso.prop("disabled") == false){
            $filtroProceso.val(proceso);
        }

        btnId = "#WidgetFiltrosTablaAcumuladosEnZonzaContenidoConZonaLateralEnPrincipal";

        $(btnId + " .btn").trigger("click");
    }

</script>
