<div id="{{id}}" class="col-xs-12 widget-treegrid">
    <div class="has-spinner"></div>
    {# La tabla está como hidden al inicio para evitar el efecto poco atractivo
    de que se renderice al principio una tabla normal y luego que se modifique
    por la treegrid #}
    <table class="tree table table-bordered" style="background-color:white;" hidden>
        <thead>
            <tr>
                <th class="cabecera-nodos" rowspan="2" style="min-width: 190px;">
                    {% for nodo in datos.nodosSeleccionados %}
                        <span class="nombre-nodo">{{nodo}}</span>
                    {% endfor %}
                </th>
                <th rowspan="2">Nº Encuestas</th>
                <th rowspan="2">Exp.</th>
                {# <th rowspan="2">Índice Rec.</th> #}
                <th rowspan="2">NPS</th>
                <th rowspan="2">Emotional Index</th>
                <th colspan="6">Emociones</th>

                {# <th rowspan="2">Emoción Principal</th>#}
                {# <th rowspan="2">Process Index</th> #}
                {# <th rowspan="2">Esfuerzo Index</th> #}
                
            </tr>

            {# Emociones desagregadas #}
            <tr>
                <th style="border-left-width: 2px;">Enfadad@</th>
                <th>Decepcionad@</th>
                <th>Ignorad@</th>
                <th>Confiad@</th>                
                <th>Cuidad@</th>
                <th>Gratamente Sorprendid@</th>
            </tr>
        </thead>

        <tbody>
        {# Bucle for de creación de las filas de la tabla #}
        {% for key,datosNodo in datos.estructuraPlana %}
            <tr id="{{key}}" class="{{datosNodo.nodoTreeview}} {{datosNodo.nodoTreeviewPadre}}">
                <td>
                    {{datosNodo.texto}} {#<button class="btn btn-default treegrid-btn"><i class="fa fa-th-list"></i></button>#}
                </td>
                <td>
                    {{datosNodo.numEncuestas}}
                </td>
                <td>
                    {{datosNodo.experiencia}}
                </td>
{#                 <td>
                    {{datosNodo.indiceRecomendacion}}
                </td> #}
                <td>
                    {{datosNodo.nps}}
                </td>
                <td>
                    <div class="emotional-index-feedback {{datosNodo.emotionalIndex.representacion}}">
                        <i class="{{datosNodo.emotionalIndex.icono}}"></i>
                    </div>
                    <p class="emotional-index-value">{{datosNodo.emotionalIndex.valor}}</p>
                </td>

                {# Emociones desagregadas #}              
                {% for emocion in datosNodo.emociones %}
                    <td>{{emocion}} %</td>
                {% endfor %}

{#                 <td>
                    {{datosNodo.emocionPrincipal}} %
                </td> #}
{#                 <td>                  
                    {{datosNodo.processIndex}}                    
                </td> #}
{#                 <td>                  
                    {{datosNodo.esfuerzoIndex}}                    
                </td> #}
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    {# Condicion de salida cuando no hay datos #}
    {% if datos.estructuraPlana is empty %}
        <div class="no-data">No hay datos para esta consulta.</div>
    {% endif %}

</div>

<script>


    $('.tree').treegrid({initialState:'expanded'});

    // Expande solo el primer nivel si existe
    /*$('.tree').treegrid({initialState:'collapsed'});
    if( $('.tree tbody').find('tr:first').length > 0 ){
        $('.tree tbody').find('tr:first').treegrid('expand'); 
    }*/

    // Mostramos la tabla una vez ya ha sido inicializada la treegrid
    $('.tree').show();

</script>
