
<div id="{{id}}" class="widget-filtros-especializado filtros-seleccionados no-padding col-xs-12 caja caja-color">
    <div class="has-spinner"></div>
    <div class="cabecera" style="hover{cursor:pointer;}">
        <span class="fa fa-filter"></span> filtros activos

        <span id="filtros-expander" class="fa fa-arrow-circle-o-down" style="float:right;"></span>
    </div>

    <div class="cuerpo" style="display:none;">
        {% if datos.filtrosSeleccionados | length == 0 %}
            <div class="col-xs-12" style="text-align:center;">
                No hay filtros activos
            </div>
        {% endif %}
        {# rows #}
        <div class="contenedor-datos-filtros" style="text-align:left;">
            {% for nombreFiltro,valoresFiltro in datos.filtrosFormateados %}
                <div class="div-filtro">
                    <span class = "nombre-filtro">{{nombreFiltro}} :</span>
                    <span class = "valores-filtro">{{valoresFiltro}}</span>                   
                </div>
            {% endfor %}
        </div><!-- fin contenedor filtros -->
    </div> <!-- fin cuerpo -->
</div>

<script>
(function(){
    $("#{{id}} .cabecera").click(function(){
        var $this = $(this);
        var selectorCuerpo = $("#{{id}} .cuerpo").slideToggle();

        var $iconoFlecha = $("#filtros-expander");
        var currentFaClass = $iconoFlecha.attr("class").split(" ")[1];

        switch(currentFaClass){
            case "fa-arrow-circle-o-up":
                $iconoFlecha.removeClass("fa-arrow-circle-o-up");
                $iconoFlecha.addClass("fa-arrow-circle-o-down");
                break;
            case "fa-arrow-circle-o-down":
                $iconoFlecha.removeClass("fa-arrow-circle-o-down");
                $iconoFlecha.addClass("fa-arrow-circle-o-up");
                break;
        }
    })
})();
</script>
