
<div id="{{id}}" class="col-xs-12 widget-datatable">
  <div class="enlace-exportacion">
    <a id="enlace-excel"
       href="{{ path('exportar_maqueta_encuestas_formateada', {'slug':'encuestas'}) }}"
       data-toggle="tooltip"
       title="No se pueden exportar cero ó más de 5.000 encuestas"
       target="_blank">
        Exportar a excel <i class="fa fa-file-excel-o"></i>
    </a>
  </div>

    <table class="table table-bordered"
        cellspacing="0" width="100%" hidden>
        <thead>
            <tr>
                {% for campo in datos.cabecera %}
                    <th>{{campo}}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>

    <div class="leyenda col-xs-12" hidden>
      <div class="titulo-leyenda col-xs-12">Leyenda</div>
      <div class="col-xs-2">Recomendación: </div>
      <div class="item-leyenda promotor col-xs-3">
        <div class="representacion"></div><span>Promotor (9-10)</span>
      </div>
      <div class="item-leyenda neutral col-xs-3">
        <div class="representacion"></div><span>Neutral (7-8)</span>
      </div>
      <div class="item-leyenda detractor col-xs-3">
        <div class="representacion"></div><span>Detractor (0-6)</span>
      </div>

      <br>

      <div class="row" style="padding:0 15px 0 15px; margin-top:60px;">
        <div class="col-xs-2" >Información: </div>
        <div class="col-xs-3">
          <div class="col-xs-2" style="padding:0; text-align:center;">
            <span class="fa fa-search"></span>
          </div>
          <div class="col-xs-10">
            Ver encuesta
          </div>
        </div>
        <div class="col-xs-3">
          <div class="col-xs-2" style="padding:0; text-align:center;">
            <span class="fa fa-warning"></span>
          </div>
          <div class="col-xs-10" style="text-align:justify;">
            Encuesta con al menos 1 proceso con una valoración inferior a 5
          </div>
        </div>
      </div>
    </div>
</div>
<script>

var dTable = (function(idDataTable, assetTraduccion){

    var ajaxConFiltros = false;

    var $enlaceExcel = $("#enlace-excel");
    var datosFiltros;

    // Configuración de la datatable
    var dTableConfig = {
        "language": {
            // Archivo con los textos a mostrar en castellano en la datatable
            "url" : assetTraduccion
        },
        "serverSide": true,
        "processing": true,
        "ajax": {
          url: Routing.generate("ajax_datatable"),
          type: 'POST',
          data : function(datos){

            // Deshabilitar temporalmente el enlace de descarga mientras está
            // la llamada ajax activa
            $enlaceExcel.on("click", function(event){
              event.preventDefault();
            })

            // Obtención de los filtros seleccionados o de sesion           
            if(ajaxConFiltros){
              datosFiltros = {
                "filtros" : ajaxUtils.getFiltros("filtro-maqueta")
              }
              ajaxConFiltros = false;
            }else{
              datosFiltros = {  
                "filtros": null // En el controlador ajax se obtendrían los filtros de sesion
              }              
            }

            // Adición de los filtros seleccionados actualmente en la maqueta
            // para enviarlos al servidor
            return $.extend(datosFiltros, datos);
          },
          drawCallback: function(){
          }
        },
        columns: [
          {data: "fecha",
            searchable: false
         },
          {data: "negocio",
            searchable: true
          },
          {data: "linea_negocio",
            searchable: true
          },
          {data: "canal",
            searchable: true
          },
          {data: "detalle_canal",
            searchable: true
          },
          {data: "procesos",
            searchable: true},
          {data: "experiencia",
            searchable: false
          },
          {data: "recomendacion",
            searchable: false
          },
          {data: "sentimiento",
            searchable: false
          },
          {data: "opi",
            searchable: true
          },
          {data: "warning",
            searchable: false
          }
        ],

        columnDefs : [
          {
            // Adición del icono de warning
            render: function( data, type, row ){
              var contenidoCelda =  "<span class='fa fa-search'></span>";
              if(row.warning == "1"){
                contenidoCelda += " <span class='fa fa-warning'></span>";
              }
              return contenidoCelda;
            },
            targets: [10] // La columna warning
          },
          {
            // Fecha formateada para permitir la ordenación por fecha
            // retorna la fecha con 0s delante en día y mes si es necesario.
            // Ej: 02/09/2016; 11/02-2017
            render: function(data, type, row){
              var fecha = new Date(row.fecha);
              var fechaFormat = ("0"+fecha.getDate()).slice(-2)+"/"
                                    +("0"+(fecha.getMonth()+1)).slice(-2)+"/"
                                    +fecha.getFullYear();
              return fechaFormat;
            },
            targets: [0]
          }

        ],

        // Coloración de las filas según el valor de recomendación. Se utilizan
        // las clases
        "createdRow" : function(row, data, index){
          switch(parseInt(data.recomendacion)){
            // Promotor
            case 9: case 10:
              $('td', row).addClass("success");
              break;
            // Neutro
            case 8: case 7:
              $('td', row).addClass("warning");
              break;
            // Detractor
            case 6: case 5: case 4: case 3: case 2: case 1: case 0:
              $('td', row).addClass("danger");
              break;
            default:
              break;
          }
        }
        // "sDom": 'lftipr'
    }

    var dTable = $(idDataTable).DataTable(dTableConfig);
    $("[data-toggle=tooltip]").tooltip(); // Inicialización del tooltip

   // Acciones a realizar en cada dibujado de la tabla
   dTable.on("draw", function(){
       $(idDataTable).show(); // Mostrar datatable
       $(".leyenda").show();  // Mosrar leyenda de debajo de la datatable

      // Para permitir o no la exportación en excel
      var nEncuestas = dTable.page.info().recordsTotal;
      //var $fontAwesomeIcon = $enlaceExcel.find("i");

      if(nEncuestas > 5000 || nEncuestas == 0){
        $enlaceExcel.addClass("disabled");
        $enlaceExcel.tooltip("enable");

      }else{
        $enlaceExcel.removeClass("disabled");

        $enlaceExcel.unbind(); // Elimina el escuchador de eventos que evita la
                               // descarga del excel. Este evento se añade en
                               // la llamada ajax de la datatable

        $enlaceExcel.tooltip('disable');
      }

    });

   function setAjaxConFiltros(){
      ajaxConFiltros = true;
   }

   return {
    "tabla": dTable,
    "draw" : dTable.draw, // para hacer la llamada dTable.draw() directamente
    "setAjaxConFiltros" : setAjaxConFiltros
   };

})(
    "#{{id}} .table",
    "{{asset('bundles/front/js/DataTableSpanish.json')}}"
);

</script>