<div id="{{id}}" class="col-xs-12 widget-num-encuestas caja caja-color caja-borde">
    <div class="has-spinner"></div>
    <div class="row">
        <div class="col-xs-12 fecha-block">
            {{datos.temporalidad}}: {{datos.periodo}}
        </div>
    </div>
    <div class="row content-block">
        <div class="col-xs-4 icon-block">
            <i class="fa fa-bar-chart"></i>
        </div>
        <div class="col-xs-8 text-block">
            <p> {{datos.numEncuestas}} encuestas </p>
        </div>
    </div>
</div>