
<div class="panel panel-default widget-fechas">
	<div class="panel-heading">Fecha de Encuesta</div>
	<div class="panel-body" style="padding: 10px;">
		<div class="input-group fechas-izq datetimepicker">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-calendar"></i> Desde:
			</span>
			<input type="text" id="fec_ini" name="fec_ini" class="form-control" placeholder="" aria-describedby="basic-addon1">
		</div>
		<div id="fec_fin" class="input-group fechas-der datetimepicker">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-calendar"></i> Hasta:
			</span>
			<input type="text" id="fec_fin" name="fec_fin" class="form-control" placeholder="" aria-describedby="basic-addon1" />
		</div>
	</div>
</div>

<script>
	// Inicia datetimepicker.
	// Alerta CG. No sé si esto podría dar problemas en el futuro
	// por usar una clase que podría repetirse en caso de importar varias veces
	// este widget en la misma página. Seguramente si se ejecutara esto varias
	// veces, símplemente sería llamado varias veces pero estas llamadas se
	// pisarían, con lo que no notaríamos cambio.
	$('.datetimepicker').datetimepicker({
		format: "DD/MM/YYYY",
		locale: 'es',
		useStrict: true
	});

	// Para poder abrir el datetimepicker clickando en input-text
	$('.datetimepicker > [type="text"]').on("click", function(e){
		$(e.currentTarget) 		// Cogemos el elemento hermano previo y
								// transformamos en objeto jQuery para poder usar
								//las funciones siguientes

			.prev()				// Coge el elemento hermano previo. Span en este
								// caso

			.trigger("click"); 	// Lanza evento click en el hermano
	})
</script>