<div class="widget-filtros">
    {% for nombreFiltro, datosFiltro in datosWidget.valoresFiltros %}
        <div class="col-xs-4">
            <select name="{{nombreFiltro}}" data-hijo="{{datosFiltro.hijo}}" data-selected-text="{{nombreFiltro}}" id="" class="form-control" multiple>
                {% for registro in datosFiltro.registros %}
                    <option value="{{registro.valor}}"
                            data-valores-padre='{{registro.valoresPadre|join(";")}}'>
                        {{registro.nombre}}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endfor %}
</div>

<script>

    $(".widget-filtros select").each(function(index, el){
        var filtro = el.dataset.selectedText;
        $(el).multiselect({
            header: true,
            width: 'auto',
            checkAllText: "Todas",
            uncheckAllText: "Ninguna",
            noneSelectedText: filtro,
            selectedText: filtro + ": # de #"
        }).multiselectfilter({label: "Filtro", placeholder:"Texto búsqueda"});
    });

    // Alerta CG
    setTimeout(function(){
        $(".widget-filtros button").addClass("btn btn-default");
    }, 100);

    (function(valoresFiltrosEnSesion){
        function setFecha(fechaTarget){
            var fechaString = valoresFiltrosEnSesion[fechaTarget] || "";
            fechaString = fechaString.split("-").reverse().join("/");

            $("[name=" + fechaTarget + "]")
                                    .parent()
                                    .data("DateTimePicker")
                                    .date(fechaString);
        }

        // Asignación de las fechas en sesión que llegan al widget a los input
        // de fechas
        setFecha("fec_ini");
        setFecha("fec_fin");

        Object.keys(valoresFiltrosEnSesion).forEach(function(nombreFiltro){
            if(nombreFiltro == "fec_ini" || nombreFiltro == "fec_fin")
                return false;

            valores = valoresFiltrosEnSesion[nombreFiltro] instanceof Array
                ? valoresFiltrosEnSesion[nombreFiltro]
                : [valoresFiltrosEnSesion[nombreFiltro]];

            valores.forEach(function(valor){
                // Evita error de jQuery con finalización de la ejecución del
                // código por un valor que sea "null"
                if(valor === ""
                   || valor === 0
                   || valor === "0"
                   || valor === undefined
                ){
                    return true;
                }

                $(".widget-filtros select[name=" + nombreFiltro + "]")
                    .multiselect("widget")
                    .find("[value=" + valor + "]")
                    .trigger("click");
            })
        });


    })({{datosWidget.valoresSeleccionados|json_encode|raw}});

</script>