{# alerta CG: Se podría construír un filtro especial para hacer estas operaciones
de forma automática #}

<div id="{{id}}"
    class="col-xs-12 no-padding widget-filtros-especializado caja caja-color">
        <div class="col-xs-12 cabecera">
            {{datos.cabecera}}
        </div>
        <div class="col-xs-12 cuerpo">
            {% for filtroId, filtro in datos.filtros %}
                {% if filtro.tag is defined %}
                    <label class="tag">{{ filtro.tag }}</label>
                {% endif %}
                <div class="form-group">
                    <select
                        name="{{filtroId}}"
                        id="{{filtroId}}"
                        class="form-control filtro-maqueta">
                            {% for valorOption, datosOption in  filtro.filtroDatos.valores %}
                                <option
                                    value="{{ valorOption }}"
                                    {% if datosOption.selected %} selected {% endif %}
                                    {% if valorOption == '0' %} hidden {% endif %}>
                                        {{ datosOption.texto }}
                                </option>
                            {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
</div>

{% block scripts %}
{% endblock scripts %}