$color-corporativo: rgb(213,43,30);
$gris-medio: rgb(195,195,195);
$gris-claro: rgb(217,217,217);
$gris-oscuro: rgb(108,111,112);
$gris-muy-claro: #fafafa;
$verde-bootstrap:#5cb85c;
$rojo-bootstrap:#d9534f;
$amarillo-bootstrap: orange;

@mixin estilosBoton(){
    background-color: white;
    color: $gris-oscuro;
    border: $gris-medio 1px solid;

    &:hover {
        background-color: $gris-medio;
        color: $gris-muy-claro;
    }
}