@import '_general.scss';

html,body {
    padding:0;
    margin:0;
    height:100%;
}

.full-width {
    padding: 0;
    margin: 0;
    width: 100%;
}

.distribucion-vertical-standard > *{
    margin-bottom: 10px;
}

.widget-prueba{
    background-color: green;
}

.no-padding{
    padding: 0;
}

.vertical-padding{
    padding-top: 10px;
    padding-bottom: 10px;
}

// -------- Estilo para cajas con color de fondo -----------
$color-borde: #EEEEEE;
// Definir mejor los colores para contenedores de background oscuro
$color-contenedor-oscuro: $color-borde;

.caja {
    &.caja-color {
        background-color: $gris-muy-claro;
    }

    &.caja-borde {
        border: 1px $gris-medio solid;
    }
}

.caja-oscura {
    &.caja-color {
        background-color: $color-contenedor-oscuro;
    }

    &.caja-borde {
        border: 1px $color-borde solid;
    }
}

// -------------------- MULTISELECT --------------------------

// Overrides the inline styling of ui-multiselect
button.ui-multiselect{
    width: 100% !important;
}
// Clases para poner a los divs que van a contener los
// selects que se van a repintar por los multiselect.
// Para evitar el salto que sucede al repintarse.
.hideMultiselect{
    visibility: hidden;
}
.showMultiselect{
    visibility: visible;
}
// Para que los select tengan la altura con la que luego
// se van a redibujar y no se mueva el div contenedor.
.hideMultiselect .jquery-multiselect{
    height: 34px!important;
}


// -------------------- SPINNERS -----------------------------

@mixin has-spinner-basicos(){
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.has-spinner.spinning::before{
    @include has-spinner-basicos();
    background-color: rgba(0,0,0, 0.2);
    z-index: 500;
}

.has-spinner.spinning::after{
    @include has-spinner-basicos();

    /* La url ha de montarse así debido a que por el uso de assetic, todos
    las rutas relativas empezarán en **web/css**  */
    background-image: url("../bundles/front/images/ajax-loader2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;

    /* Para que esté por encima del div a partir del cual se crea este
    pseudo-elemento */
    z-index: 1000;
}

// SÚPER ASTERISCO DE LA MUERTE
#WidgetFiltrosTablaAcumuladosEnZonzaContenidoConZonaLateralEnPrincipal{
    &::before{
        content: "* Si necesitas más información selecciona un negocio y/o canal y/o proceso";
        font-style: italic;
        width: 100%;
    }
}
