{% extends 'FrontBundle:Default:MaquetaCuadroMando.html.twig' %}
{% set tabActiva = "desgloseInformacion" %}

{% block javascripts %}
<script>

    function getDatosMaquetaConVisualizacion()
    {
        datosFiltros = {};

        $(".filtro-maqueta").each(function(){
            $e = $(this);
            var valorFiltro = $e.val();

            // Para los input the fechas
            if($e.attr("data-type") == "fecha"){
                valorFiltro =
                    $(this).val()
                           .split("/")
                           .reverse()
                           .join("-");
            }

            datosFiltros[$e.attr("id")] = valorFiltro;
        })

        datosFiltros["configuracionVisualizacion"] =
            configuracionGrafico.valoresSeleccionados();
        
        datosFiltros["configuracionVisualizacion"] =
            checkValoresCV(datosFiltros["configuracionVisualizacion"]);

        return datosFiltros;
    }
    //Comprueba que se envie una Configuracion Visualizacion correcta (sin ceros)
    function checkValoresCV(cv){
        var arrayValoresCV=cv.split("-");

        for (i in arrayValoresCV) {
            if(arrayValoresCV[i]==0){
                return false;
            }
        }
        return cv;
    }
    
    //Quita las todas las alertas del widget de indicadores
    function quitaTodasAlertas(){
        $(".widget-filtros-horizontal div select").each(function(){
            $(this).removeClass("alert-danger");
        });
    }
    //Quita una alerta Especifica
    function quitaAlerta($select){
        $select.removeClass("alert-danger");
    }

    // Pongo la alerta en primera ocurrencia en el que el filtro es 0
    // y en el resto quita las posibles alertas que hubiesen.
    function poneYquitaAlertas(){
        var bandera=true;//Permite añadir alerta
        $(".widget-filtros-horizontal div select").each(function(){
            //Pinta cuando el valor del filtro hz. es 0 y no esta disabled
            //Para la primera ocurrencia (bandera es false)
            if($(this).val()==0 && $(this).attr("disabled")===undefined && bandera){
                $(this).addClass("alert-danger");
                bandera=false;
            }else{
                $(this).removeClass("alert-danger");
            }
        });
    }

    //Al hacer un cambio en un select dependiente quito su posible alerta
    $(".filtro-dependiente select").change(function(){ 
        quitaAlerta($(this));
    });

</script>

<script>
// Script AJAX (Recarga Inicial + Cargas Posteriores)

$(document).ready(function(){

    var dominacionAjax = (function dominacionMundial()
    {
        $(".has-spinner").addClass("spinning");

        var targets = $('.has-spinner').parent();

        targets = $.map(targets, function(n, i){
            return $(n).attr("id");
        });

        var dominacionAjax = ajaxWorldDomination(
            getDatosMaquetaConVisualizacion(),
            Routing.generate("widgets_recargables") + ajaxUtils.getSlug(),
            targets
        );

        return dominacionAjax;
    })();

    //Recarga Ajax inicial
    dominacionAjax.recargaAjax();

    //Evento click para los Ajax Posteriores
    $('.btn-ajax').click(function(e){
        e.preventDefault();
        var datosFiltros = getDatosMaquetaConVisualizacion();
        // Comprueba los inputs del widget de fechas 
        // y pone una alerta si no es correcta
        if(!compruebaWidgetFechasTemporalidad()){
            return false;
        }
        poneYquitaAlertas();    //Actualizo el estado de las alertas
                                //Del widget de indicadores
        // Comprueba la configuracion del widget de indicadores.                                
        if(!datosFiltros["configuracionVisualizacion"]){           
            return false;
        }
        dominacionAjax.setDatosPeticion(datosFiltros);//Setea filtros
        dominacionAjax.recargaAjax();
    });
});

</script>

{% endblock javascripts %}