{#
Por los requisitos especiales de esta maqueta, en lugar de inyectar las
zonas mediante un bucle, se usan los nombres específicos con los que tienen
que llegar a la plantilla. Así pues, a una maqueta de Cuadro de Mando ha de
llegarle las siguientes zonas:
    * ZonaBienvenidos
    * ZonaIndicadores
    * ZonaLateral
    * ZonaContenidosConZonaLateral
#}

{% extends 'base.html.twig' %}

{% set zonaBienvenidos = estructura.ZonaBienvenidos%}
{# {% set contenido = estructura.ZonaContenido %}
 #}
{% block body %}
{% include 'FrontBundle:Contenedores:ContenedorFixedSuperior.html.twig' %}
<div class="distribucion-vertical-standard" style="padding-top:30px;">
    {% include zonaBienvenidos.twig with {"contenedores" : zonaBienvenidos.contenedores} %}

        <ul class="nav nav-tabs cem-nav-tab tabs">
            <li
                {% if tabActiva == "desgloseInformacion" %}
                    class="active"
                {% endif %}>
                <a href="{{path('front')}}/cuadro_mando/desglose_informacion">
                    Desglose de información
                </a>
            </li>
            <li
                {% if tabActiva == "cruceVariables" %}
                    class="active"
                {% endif %}>
                <a href="{{path('front')}}/cuadro_mando/cruce_variables">
                    Cruce de variables
                </a>
            </li>
            <li
                {% if tabActiva == "informacionJerarquica" %}
                    class="active"
                {% endif %}>
                <a href="{{path('front')}}/cuadro_mando/informacion_jerarquica">
                    Información jerárquica
                </a>
            </li>
        </ul>

{#  Guarrada para que la zona lateral de cuadro de mando
    tenga unas dimensiones lo mas parecidas que las de
    la maqueta principal, por tema de inputs de fechas
    tamaño de los filtros al redimensionar el multiselect,
    ... #}
<style>
    .contenido .zona-lateral
    {
        padding-right: 3px;
        
    }
    /*.contenido .zona-lateral + section
    {
        
    }  */  
</style>

        {# El div de contenido ha sido necesario ponerle también la clase
        `row` porque sino bootstrap hacía de las suyas y no estaba siendo
        correctamente incluído en el div el contenido #}
        <div class="cem-nav-tab contenido row distribucion-vertical-standard">
            {% include estructura.ZonaIndicadores.twig with { "contenedores" : estructura.ZonaIndicadores.contenedores} %}
            {% include estructura.ZonaLateral.twig with { "contenedores" : estructura.ZonaLateral.contenedores} %}
            {% include estructura.ZonaContenidosConZonaLateral.twig with { "contenedores" : estructura.ZonaContenidosConZonaLateral.contenedores} %}
        </div>
</div>
{% endblock %}