{% extends "base.html.twig" %}

{% block body %}
    {% include 'FrontBundle:Contenedores:ContenedorFixedSuperior.html.twig' %}
    <div style="padding-top:30px;">
        {% for zona in estructura %}
            <div class="distribucion-vertical-standard">
                {% include zona.twig with {'contenedores': zona.contenedores} %}
            </div>
        {% endfor %}
    </div>

{% endblock body %}

{% block javascripts %}
<script>
    $(document).ready(function(){

        var targets = $('.has-spinner').parent();

        targets = $.map(targets, function(n, i){
            return $(n).attr("id");
        });

        var recargaInicial = ajaxWorldDomination(
            ajaxUtils.getFiltros("filtro-maqueta"),
            Routing.generate("widgets_recargables") + ajaxUtils.getSlug(),
            targets
        );

        recargaInicial.recargaAjax();
    });
</script>
{% endblock javascripts%}
