{% extends 'FrontBundle:Default:MaquetaCuadroMando.html.twig' %}
{% set tabActiva = "informacionJerarquica" %}

{% block javascripts %}
<script>

    function getDatosMaquetaCMInformacionJerarquica()
    {
        datosFiltros = {};

        $(".filtro-maqueta").each(function(){
            $e = $(this);
            var valorFiltro = $e.val();

            // Para los input the fechas
            if($e.attr("data-type") == "fecha"){
                valorFiltro =
                    $(this).val()
                           .split("/")
                           .reverse()
                           .join("-");
            }

            datosFiltros[$e.attr("id")] = valorFiltro;
        })

        datosFiltros["optionNegocio"] =
        	$('.selector-informacion-jerarquica select').val();

        return datosFiltros;
    }

</script>

<script>
// Script AJAX (Recarga Inicial + Cargas Posteriores)

$(document).ready(function(){

    var dominacionAjax = (function dominacionMundial()
    {
        $(".has-spinner").addClass("spinning");

        var targets = $('.has-spinner').parent();

        targets = $.map(targets, function(n, i){
            return $(n).attr("id");
        });

        var dominacionAjax = ajaxWorldDomination(
            getDatosMaquetaCMInformacionJerarquica(),
            Routing.generate("widgets_recargables") + ajaxUtils.getSlug(),
            targets
        );

        return dominacionAjax;
    })();

    //Recarga Ajax inicial
    dominacionAjax.recargaAjax();

    //Evento click para los Ajax Posteriores
    $('.btn-ajax').click(function(e){
        e.preventDefault();
        var datosFiltros = getDatosMaquetaCMInformacionJerarquica();
        // Comprueba los inputs del widget de fechas 
        // y pone una alerta si no es correcta
        if(!compruebaWidgetFechasTemporalidad()){
            return false;
        }        
        dominacionAjax.setDatosPeticion(datosFiltros);
        dominacionAjax.recargaAjax();        
    });
});

</script>
{% endblock javascripts %}