{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}CEM Madison MK{% endblock %}

{% block stylesheets %}
<style>
    .messageboxok{
        width: 270px;
        border:1px solid #349534;
        background:#C9FFCA;
        padding:5px;
        font-weight:bold;
        color:#008000;
        text-align:center;
    }
    .bigInput {
        width: 220px;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        padding: 0px 10px;
        font-size:18px;
        border: 1px solid #ddd;
        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    }
    .button_example {
        width: 220px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        padding: 0px 10px;
        font-size: 18px;
        /* font-weight: bold; */
        color: #fff;
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
        border: 1px solid #25729a;
        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
        background-color: #3093c7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
        background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
        background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
        background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
        background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
        background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
    }
    .button_example:hover {
        color: #fff;
        text-decoration: none;
        border: 1px solid #1c5675;
        background-color: #26759e;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
        background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
        background-image: -moz-linear-gradient(top, #26759e, #133d5b);
        background-image: -ms-linear-gradient(top, #26759e, #133d5b);
        background-image: -o-linear-gradient(top, #26759e, #133d5b);
        background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
    }
    .message {
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 20px 0px;
        color: #2a952a;
        border: 1px solid #55a655;
        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
        background-color: #d2ffd2;
    }

    .messageboxerror{
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: 20px 0px;
        color: #CC0000;
        border: 1px solid #CC0000;
        -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
        background-color: #F7CBCA;
    }

</style>

{% endblock %}

{% block body %}

        <div style="width: 500px; height: 500px; margin-top: 100px; margin-left: auto; margin-right: auto;">
            <div style="width: 500px; height: 30px; line-height: 30px; color: #fff; background-color: #222; text-align: right; padding-right:10px;"><span class="toolbarSpacer">&nbsp;</span><span class="toolbarItem">
                    <img src="{{asset('css/images/ico_user.gif')}}" height="11"
                         border="0" width="11">
                         Usuario no registrado
                         </span></div>

            <div style="background-color: #f2f2f2; border: 1px solid #dddddd; border-top: 0px; padding-left: 20px; padding-top: 15px; padding-bottom: 15px;"><a href="#">
                    <img src="{{asset('css/images/logo_cepsa.png')}}" border="0" width="130"></a></div>

            <div style="border: 1px solid #dddddd; border-top: 0px; padding: 49px;padding-top:20px;height:225px;">

                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, "FOSUserBundle") }}
                        </div>
                    {% endfor %}
                {% endfor %}

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form method="post" action="{{ path("fos_user_security_check") }}" id="login_form" class="round">
                        <div style="width:400px;">
                            <div style="width: 160px; float: left;">
                                <img src="{{asset('css/images/logo_cem.png')}}" border="0" width="95%"></div>
                            <div style="width: 200px; float: left; padding-left: 19px; border-left: 1px solid #ddd;">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>


                                <div style="margin-bottom: 20px;">
                                    <input type="text" id="username" name="_username" value="" class="form-control" placeholder="{{ 'layout.logged_in_as'|trans }}" required="required" />

                                </div>
                                <div style="margin-bottom: 20px;">
                                    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="form-control"  />

                                </div>

                                <div>
                                    <a data-toggle="modal" data-target="#rememberModal" href="#">
                                    {% if error == 'User credentials have expired.' %}
                                        {{ 'security.login.renovar_me'|trans }}
                                    {% else %}
                                        {{ 'security.login.remember_me'|trans }}
                                    {% endif %}
                                    </a>
                                </div>

                                <div>
                                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="button_example" />

                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>

                        <div id="msgbox" style="height: 30px;"><div align="center"></div></div>

                    </form>
            </div>

            <div style="padding-top: 15px; padding-right: 19px; text-align: right; background-color: #f2f2f2; border: 1px solid #dddddd; border-top: 0px; padding-bottom: 5px;"><span style="margin-right: 10px;"></span>
                <img src="{{asset('css/images/logo_madison.gif')}}" align="absmiddle" height="30" border="0" width="111"></div>

        </div>

    </div>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="rememberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Introduzca su correo. Le enviaremos un correo con las instrucciones para obtener una nueva contraseña.</h4>
        <input style="font-size: 16px; width:100%" id="email" type="email" name="email" placeholder="Correo electrónico" >
        <span id="modal-text"></span>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-email" class="button_example">Enviar</button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

{% block javascripts %}
<script type="text/javascript">
$("#modal-email").click(function(event){
    var locale_js = 'es';
    var email = $('#email').val();
    $("#modal-text").html("");
    if(email.indexOf("@")>-1){
        $("#email").prop('disabled', true);
        $("#modal-email").prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: Routing.generate('email_remember_pass', {email: email, _locale: locale_js})
        })
        .done(function() {
                $("#modal-text").html("<p style='color:green'>*Su correo ha sido enviado</p>");
                setTimeout(function(){$('#rememberModal').modal('hide');},3000);
        })
        .fail(function() {
                $("#modal-text").html("<p style='color:red'>*Error al intentar mandar el correo. Compruebe que el email suministrado sea correcto</p>");
                $("#email").prop('disabled', false);
                $("#modal-email").prop('disabled', false);
        });
    }
    else{
        $("#modal-text").html("<p style='color:red'>*Introduce un correo válido</p>");
    }

});
</script>
{% endblock %}
