<div id="contenedor-filtros" class="col-xs-12 contenedor-widgets-filtros caja caja-color caja-borde distribucion-vertical-standard no-padding">
    <form action="">
        {% for widget in widgets %}
            {% include widget.twig with {"datos": widget.datos, "id": widget.id}%}
        {% endfor %}

       <div class="col-xs-12 btn-contenedor">
            <button class="btn btn-default btn-ajax">Consultar</button>
       </div>
    </form>
</div>
