.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-hover {
  border: 1px solid #e8e8e8;
  color: #666;
  text-decoration: none;
    background-image:url(../images/bg_button_on.gif);
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #e8e8e8;
  background: #ffffff;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}
.ui-widget-header {
  border: 1px solid #e8e8e8;
  background: #e8e8e8;
  color: #000000;
  font-weight: bold;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  border: 1px solid #e8e8e8;
  color: #666;
  text-decoration: none;
  font-weight: normal;
  background: #e8e8e8;
}
.ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #e8e8e8;
  color: #666;
  text-decoration: none;
  font-weight: bold;
  background: #e8e8e8;
}
/* .ui-widget-content {
  width: 200px;
  border: 1px solid #2583b4;
  background: #ffffff;
  color: #222222;
} */
/* Check/Uncheck all*/
.ui-widget-header a {
  color: #333;
}
.ui-widget-header .ui-icon {
background-image: url(custom-theme/images/ui-icons_666666_256x240.png);
}
li {
  list-style-position: outside;
  list-style-type: none;
  list-style-image: none;
}
/*http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png*/