{#<div class="col-xs-12 selector-informacion-jerarquica caja caja-color caja-borde vertical-padding">
    <div class="col-md-4 col-xs-12">#}
<style>
.label-vista{
    line-height: 2.1em;
}
</style>

<div class="col-xs-12">
    <div id="{{id}}" class="widget-filtros-horizontal selector-informacion-jerarquica col-xs-12 caja caja-color
    caja-borde vertical-padding;" style="margin-top:15px;padding:15px;">
        
        <div class="col-lg-1 col-md-1 col-xs-12">
            <label for="negocio" class="label-vista">Negocio:</label>
        </div>
        <div class="col-md-2 col-xs-12">
            <select name="negocio" id="negocio" class="form-control">
                {% for valorNegocio, textoNegocio in datos.optionsNegocio %}
                <option value="{{valorNegocio}}" 
                    {% if datos.negocioChecked == valorNegocio %} selected {% endif %}>
                    {{textoNegocio|capitalize}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default btn-ajax" style="width:100%;">Consultar</button>
        </div>
    </div>
</div>