{% set etiquetas = false %}
{% set targets = ["WidgetTreeViewEnContenedorConZonaLateralEnPrincipal"] %}

{% extends "FrontBundle:Widgets:WidgetFiltrosEspecializadosHorizontal.html.twig" %}

{% block scripts %}
<script>
    validaValoresRepetidos.inicializa({
        "bloqueId" : "#WidgetFiltroVistasEnContenedorZonaLateralContenedorWidgetsFiltrosEnPrincipal",
        "mensajeError" : "No pueden haber 2 o más vistas iguales"
    });
</script>
{% endblock scripts %}