<!-- Modal -->
<div id="verEncuestas" class="modal fade widget-datatable" role="dialog" 
        data-keyboard="false" data-backdrop="static"> <!--para evitar que se cierre la ventana modal realizando una accion fuera de ella-->
    <div class="modal-dialog modal-lg" style="width: auto; margin-left:8%; margin-right:5%; margin-top:2%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header titleBox">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title cabecera" id="modal-title"></h3>
            </div>
            <div class="modal-body">

              <!-- enlace excel -->
              <div class="enlace-exportacion">
                {% if maqueta|split('/')[1] is not defined %}
                  {% set subslug = null %}
                {% else %}
                  {% set subslug = maqueta|split('/')[1] %}
                {% endif %}
                <a id="enlace-excel"
                   href="{{ path('exportar_maqueta_encuestas_formateada', { 'slug': maqueta|split('/')[0],
                                                                            'subslug': subslug 
                                                                          }
                                )
                         }}"
                   data-toggle="tooltip"
                   title="No se pueden exportar cero ó más de 5.000 encuestas"
                   target="_blank">
                    Exportar a excel <i class="fa fa-file-excel-o"></i>
                </a>
              </div>

              <!-- dataTable -->
              <table class="table table-bordered"
                  cellspacing="0" width="100%" hidden>
                  <thead>
                      <tr>
                          {% for campo in cabecera %}
                              <th>{{campo}}</th>
                          {% endfor %}
                      </tr>
                  </thead>
              </table>

            </div><!-- /.modal-body -->

            <div class="modal-footer">
              <!--
              <div class="leyenda col-xs-12" hidden>
                <div class="titulo-leyenda col-xs-12">Leyenda</div>
                <div class="col-xs-2">Recomendación: </div>
                <div class="item-leyenda promotor col-xs-3">
                  <div class="representacion"></div><span>Promotor (9-10)</span>
                </div>
                <div class="item-leyenda neutral col-xs-3">
                  <div class="representacion"></div><span>Neutral (7-8)</span>
                </div>
                <div class="item-leyenda detractor col-xs-3">
                  <div class="representacion"></div><span>Detractor (0-6)</span>
                </div>

                <br>

                <div class="row" style="padding:0 15px 0 15px; margin-top:30px;">
                  <div class="col-xs-2" >Información: </div>
                  <div class="col-xs-3">
                    <div class="col-xs-2" style="padding:0; text-align:center;">
                      <span class="fa fa-search"></span>
                    </div>
                    <div class="col-xs-10">
                      Ver encuesta
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="col-xs-2" style="padding:0; text-align:center;">
                      <span class="fa fa-warning"></span>
                    </div>
                    <div class="col-xs-10" style="text-align:justify;">
                      Encuesta con al menos 1 proceso con una valoración inferior a 5
                    </div>
                  </div>
                </div>
              </div>--><!-- leyenda -->
              
              <!-- boton cerrar inferior -->
              <div class="pull-right" style="padding-top:5px;">
                <button id="cerrar_ficha" type="button" class="btn btn-default btn_confirm_pagina_guardada" data-dismiss="modal">Cerrar</button>
              </div>

            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="cargando"></div>


<script>

//Evento Al Cerrar Ventana modal
/*$('#verEncuestas').on('hidden.bs.modal', function () {
    //Borra los datos del tbody del datatable para que cuando se cargue
    //una nueva datatable no aparezcan los antiguos
    //Necesario antes destruir las referencias del datatable
    $("#verEncuestas .modal-body .table").dataTable().fnDestroy();   
    $("#verEncuestas .modal-body .table tbody").html("");
});*/

// Funcion que se llama desde la libreria graficosGoogle
// al hacer el evento dobleClick sobre el grafico
function configDataTable(arrayDatosBeforeAjax,tipoCEM, nombreStack,idSubStack,slugM){

    var scroll = true; //Scroll para el datatable
    //Borra los datos del tbody del datatable para que cuando se cargue
    //una nueva datatable no aparezcan los antiguos, ademas se des-sincronizarian
    //con las cabeceras, pues estas columnas se autocalculan.
    //Necesario antes destruir las referencias del datatable
    //NOTA IMPORTANTE: en modo scrollX true, la datatable se genera de forma distinta
    //hay que usar un selector distinto, como la clase .dataTables_scrollBody
    if(scroll){
      $("#verEncuestas .modal-body .dataTables_scrollBody .table").dataTable().fnDestroy();
    }else{
      $("#verEncuestas .modal-body .table").dataTable().fnDestroy();
    }   
    $("#verEncuestas .modal-body .table tbody").html("");

    // Configuración del dataTable
    var dTable = (function(idDataTable, assetTraduccion){

        var $enlaceExcel = $("#enlace-excel");

        // Configuración de la datatable
        var dTableConfig = {
            "bDestroy": true, // IMPORTANTE: Para reemplazar el datatable anterior si existe
            "language": {
                // Archivo con los textos a mostrar en castellano en la datatable
                "url" : assetTraduccion
            },
            "serverSide": true,           
            "processing": true,
            "autoWidth": true,  // Columnas autocalculadas, 
                                // para que funcione correctamente el scroll horizontal con
                                // el ancho de los th
            "responsive": true,
            "scrollX": scroll,
            "fixedHeader": {
                headerOffset: 24
            },
            "ajax": {
              beforeSend: function (html) {
                //Operaciones antes de lanzar el Ajax
                $('#verEncuestas .modal-body').show();

                var htmlBefore = '<i class="glyphicon glyphicon-list-alt"></i> '+
                    '<span style="color:#d52b1e;">'+arrayDatosBeforeAjax['tituloGrafico']+'</span>'+
                    ' <i class="glyphicon glyphicon-arrow-right"></i> '+nombreStack;
                if(idSubStack!=-1){ // Si ha seleccionado un un bloque del stack
                    htmlBefore = htmlBefore + ' <i class="glyphicon glyphicon-arrow-right"></i> '+
                    '<span style="color:#'+arrayDatosBeforeAjax['colorLabel']+'";>'+arrayDatosBeforeAjax['nombreLabel']+'</span>';
                }
                $('#modal-title').html(htmlBefore);
                
                $('#verEncuestas').modal();
              },
              //url para el ajax
              //no seria estrictamente necesario pasar el slug como parametro.
              url: Routing.generate("ajax_grafico_datatable", { slug: slugM }),
              type: 'POST',
              data : function(d){

                // Deshabilitar temporalmente el enlace de descarga mientras está
                // la llamada ajax activa
                $enlaceExcel.on("click", function(event){
                  event.preventDefault();
                })

                // Obtención de los datos a enviar por request
                var datosAjax = {
                  "filtros" : getDatosMaquetaConVisualizacion(),
                  "tipoCEM" : tipoCEM,
                  "nombreStack": nombreStack,
                  "idSubStack": idSubStack,
                  "slugM": slugM
                };

                // Adición de los filtros seleccionados actualmente en la maqueta
                // para enviarlos al servidor
                return $.extend(datosAjax, d);
              },
              drawCallback: function(){
                $('#verEncuestas .modal-body').html(html).fadeIn(500);
              }
            },
            columns: [
              {data: "fecha",
                searchable: false
             },
              {data: "negocio",
                searchable: true
              },
              {data: "linea_negocio",
                searchable: true
              },
              {data: "canal",
                searchable: true
              },
              {data: "detalle_canal",
                searchable: true
              },
              {data: "procesos",
                searchable: true,
                width: "20%"
              },
              {data: "experiencia",
                searchable: false
              },
              {data: "recomendacion",
                searchable: false
              },
              {data: "sentimiento",
                searchable: false
              },
              {data: "opi",
                searchable: true
              },
              {data: "warning",
                searchable: false
              }
            ],

            columnDefs : [
              {
                // Adición del icono de warning
                render: function( data, type, row ){
                  var contenidoCelda =  "<span class='fa fa-search'></span>";
                  if(row.warning == "1"){
                    contenidoCelda += " <span class='fa fa-warning'></span>";
                  }
                  return contenidoCelda;
                },
                targets: [10] // La columna warning
              },
              {
                // Fecha formateada para permitir la ordenación por fecha
                // retorna la fecha con 0s delante en día y mes si es necesario.
                // Ej: 02/09/2016; 11/02-2017
                render: function(data, type, row){
                  var fecha = new Date(row.fecha);
                  var fechaFormat = ("0"+fecha.getDate()).slice(-2)+"/"
                                        +("0"+(fecha.getMonth()+1)).slice(-2)+"/"
                                        +fecha.getFullYear();
                  return fechaFormat;
                },
                targets: [0]
              }

            ],

            // Coloración de las filas según el valor de recomendación. Se utilizan
            // las clases
            "createdRow" : function(row, data, index){
              switch(parseInt(data.recomendacion)){
                // Promotor
                case 9: case 10:
                  $('td', row).addClass("success");
                  break;
                // Neutro
                case 8: case 7:
                  $('td', row).addClass("warning");
                  break;
                // Detractor
                case 6: case 5: case 4: case 3: case 2: case 1: case 0:
                  $('td', row).addClass("danger");
                  break;
                default:
                  break;
              }
            }
            // "sDom": 'lftipr'
        }
        
        var dTable = $(idDataTable).DataTable(dTableConfig);

        $("[data-toggle=tooltip]").tooltip(); // Inicialización del tooltip del excel

       // Acciones a realizar en cada dibujado de la tabla
       dTable.on("draw", function(){

           $(idDataTable).show(); // Mostrar datatable
           $(".leyenda").show();  // Mostrar leyenda de debajo de la datatable

          // Para permitir o no la exportación en excel
          var nEncuestas = dTable.page.info().recordsTotal;
          //var $fontAwesomeIcon = $enlaceExcel.find("i");

          if(nEncuestas > 5000 || nEncuestas == 0){
            $enlaceExcel.addClass("disabled");
            $enlaceExcel.tooltip("enable");

          }else{
            $enlaceExcel.removeClass("disabled");

            $enlaceExcel.unbind(); // Elimina el escuchador de eventos que evita la
                                   // descarga del excel. Este evento se añade en
                                   // la llamada ajax de la datatable
            $enlaceExcel.tooltip('disable');
          }

        });

       return dTable;

    })(
        "#verEncuestas .modal-body .table",
        "{{asset('bundles/front/js/DataTableSpanish.json')}}"
    );

}//Fin configDataTable


</script>