<div id="{{id}}" class="panel panel-default widget-grafico col-xs-12">
    <div class="has-spinner"></div>
    <div id="{{id}}-cabecera" class="titleBox cabecera" title="{{datos.datosGrafico.titulo}}" style="text-align: center;">
        <span>{{datos.datosGrafico.titulo}}</span>
    </div>
    <div id="{{id}}-grafico" class="grafico" style="position:relative;">          
    </div>
</div>

<script>
 
    var graficoJSON ={{datos.datosGrafico|json_encode|raw}};      
    graficosGoogle.registrarGG(graficoJSON, "{{id}}");

</script>
