<div class="col-xs-12">
    <div id="{{id}}" class="widget-filtros-horizontal col-xs-12 caja caja-color
    caja-borde vertical-padding;" style="margin-top:15px;padding:15px;">
        <div class="col-md-2 col-xs-12">
            <select class="form-control" name="vista" id="raiz">
                <option value="0" hidden>{{datos.vistas.optionDefault}}</option>
                {% for valor,texto in datos.vistas.restoOptionsDoctrine  %}
                    <option value="{{valor}}" text="{{texto.nombreDoctrine}}">
                        {{texto.nombre|capitalize}}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% for nombreFiltroDependiente, datosFiltro in datos.dependientes %}
            <div class="{% if loop.last %} col-md-3 {% else %} col-md-2 {% endif %}
                 col-xs-12 filtro-dependiente">
                <select class="form-control"
                        name="{{nombreFiltroDependiente}}"
                        id="{{nombreFiltroDependiente}}"
                        {% if datosFiltro.valorCombinado == true %}
                            valor-combinado
                        {% endif %}
                        disabled>

                        <option value="0" hidden>
                            {{datosFiltro.optionDefault}}
                        </option>

                    {% for valor, datosOption in datosFiltro.restoOptions %}

                        <option value="{{valor}}"
                                datos-padres="{{datosOption.valoresPrevios|join(",")}}">
                            {{datosOption.texto|capitalize}}
                        </option>

                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <div class="col-md-2">
            <button class="btn btn-default btn-ajax" style="width:100%;">Consultar</button>
        </div>
    </div>
</div>

<script>
var configuracionGrafico = (function(){

    var selectorSelects;

    // ------------- LÓGICA PRINCIPAL ----------------
    function lanzarConfiguracionOnChange(){
        $("#raiz").change(logicaOnChange);
        $(".filtro-dependiente select").change(logicaOnChange);
    }

    // -------- FUNCIONES INTERNAS ------------------
    function logicaOnChange(){

        nextSelect = $(this).parent()
                            .next(".filtro-dependiente")
                            .find("select")

        nextSelect.removeAttr("disabled");
        nextSelect.val(0);

        secondNextSelect = $(this).parent()
                            .next(".filtro-dependiente")
                            .next(".filtro-dependiente")
                            .find("select")
        secondNextSelect.val(0);

        if($(this).attr("id") == "raiz"){
            valorPadre = $(this).val();
        } else {
            valorPadre = valoresSeleccionados(true);
        }

        nextSelect
            .find("option")
            .toArray()
            .forEach(function(el){
                $el = $(el);

                if($el.val() == "0") return false;

                arrayPosibilidades = $el.attr("datos-padres").split(",") || "";

                if ($.inArray(valorPadre, arrayPosibilidades) >= 0) {
                    $el.attr("hidden", false);
                    $el.attr("disabled", false);
                }else {
                    $el.attr("hidden", true);
                    $el.attr("disabled", true);
                }
            });

        inactivarSelects(getNextSelect($(nextSelect)));
    }

    function setSelects(selectorCss)
    {
        selectorSelects = selectorCss
    }

    function valoresSeleccionados(filtrados){
        resultado = $(selectorSelects)
                    .toArray()
                    .map(function(el){
                        return $(el).val();
                    });

        if(filtrados){
            resultado = resultado
                            .filter(function(valor){
                            return valor !== "0";
                            });
        }

        return resultado.join("-");
    }


    function inactivarSelects($selectPartida){

        if($selectPartida.length > 0){
            $selectPartida.val(0);
            $selectPartida.attr("disabled", true);

            nextSelect = getNextSelect($selectPartida);
            inactivarSelects($(nextSelect));
        }

    }

    function getNextSelect($selectPartida)
    {
        return $selectPartida.parent()
                             .next(".filtro-dependiente")
                             .find("select");
    }

    return {
        setSelects : setSelects,
        lanzarConfiguracionOnChange: lanzarConfiguracionOnChange,
        valoresSeleccionados : valoresSeleccionados
    };
})();

configuracionGrafico.setSelects(".filtro-dependiente select");
configuracionGrafico.lanzarConfiguracionOnChange();


// Autoasignación de valores con la carga de la maqueta
(function configInicial(stringConfiguracion){

    // Helper functions
    function encontrarIndiceFiltro(idSelector){
        selector = "#" + idSelector;
        indice = -1;

        $(".filtro-dependiente").each(function(index, el){
            if($(el).find(selector).length == 1){
                indice = index;
            }
        })

        return indice;
    }

    function asignarValor(idElemento, valor){
        selector = "#" + idElemento;
        $(selector).val(valor);
        $(selector).trigger("change");
    }

    // Lógica principal

    if(stringConfiguracion != null && stringConfiguracion != ""){
        arrayValores = stringConfiguracion.split("-");

        // Selección select raíz
        asignarValor("raiz", arrayValores[0]);

         $(".filtro-dependiente").each(function(){
            idSelect = $(this).find("select").attr("id");

            valorParaAsignar = 0;
            indiceFiltro = encontrarIndiceFiltro(idSelect);

            isValorCombinado = $("#" + idSelect).attr("valor-combinado");

            if(isValorCombinado !== undefined && isValorCombinado !== false){
                valorParaAsignar = arrayValores[0]
                                 + "-"
                                 + arrayValores[indiceFiltro + 1];

            }else {
                valorParaAsignar = arrayValores[indiceFiltro + 1];
            }

            asignarValor(idSelect, valorParaAsignar);
         });
    }

})({{datos.filtros.configuracionVisualizacion|json_encode|raw}});




</script>

