<div id="{{id}}" class="col-xs-12 widget-tabla-acumulados">
    <div class="has-spinner"></div>
    <table class="table-bordered table">
        <thead>
            <th>Negocio / Canal / Proceso</th>
            <th>Nº Encuestas</th>
            <th>Valor Medio</th>
        </thead>
        <tbody>
            {% for pregunta in datos.calculosVal %}
                <tr>
                    <td class="nombre-indicador">{{pregunta.pregunta}}</td>
                    <td>{{pregunta.nEncuestas}}</td>
                    <td>{{pregunta.media}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
(function(){
    var filtros = {{datos.filtros|json_encode|raw}};
    if(filtros["neg-filtro"] != "" && filtros["neg-filtro"] != "0"){
        $negAcumulado = $("#neg-acumulados");
        $negAcumulado.val(filtros["neg-filtro"]).prop("disabled", true);
    }
})();
</script>