{% set etiquetas = false %}
{% set targets = ["WidgetTablaAcumuladosEnZonzaContenidoConZonaLateralEnPrincipal"] %}

{% extends "FrontBundle:Widgets:WidgetFiltrosEspecializadosHorizontal.html.twig" %}

{% block scripts %}
{% endblock scripts %}