<div id="{{id}}" data-slugM="{{datos.maqueta}}" class="panel panel-default widget-grafico col-xs-12">
    <div class="has-spinner"></div>
    <div id="{{id}}-cabecera" class="titleBox cabecera" title="{{datos.datosGrafico.titulo}}" style="text-align: center;">
        <span>{{datos.datosGrafico.titulo}}</span>
    </div>
    <div id="{{id}}-grafico" class="grafico" style="position:relative;">  
    </div>
</div>

{# Añade Una ventana modal que contiene la configuracion de un datatable #}
{#
{% include "FrontBundle:Widgets:Especificos/WidgetVentanaModalDataTableEnGraficoBarras.html.twig" 
	with {"maqueta": datos.maqueta, "cabecera": datos.datosGraficoDT.cabecera } %}
#}
<script>

    var graficoJSON ={{datos.datosGrafico|json_encode|raw}};      
    graficosGoogle.registrarGG(graficoJSON, "{{id}}");

</script>
