{# alerta CG: Se podría construír un filtro especial para hacer estas operaciones
de forma automática #}

<div id="{{id}}"
    class="col-xs-12 no-padding widget-filtros-especializado">

        <div class="col-xs-12 cabecera">
            {{datos.cabecera}}
        </div>
        <div class="col-xs-12 cuerpo hideMultiselect">
            {% for filtroId, filtro in datos.filtros %}
                <div class="form-group">
                        <div id="div_cruce_{{filtroId}}" class="filtro-cruce pull-left" style="font-size: 11px;">
                            <input id="cruce_{{filtroId}}" type="radio" name="cruce" value="{{filtroId}}" {{filtro.cruceChecked is defined? filtro.cruceChecked|raw : ''}} >
                                CRUZAR POR <strong>{{filtro.tag|capitalize}}</strong>
                        </div>
                    <select
                        name="{{filtroId}}"
                        id="{{filtroId}}"
                        class="form-control filtro-maqueta jquery-multiselect"
                        data-tag ="{{filtro.tag}}"
                        multiple="multiple">
                            {% for valorOption, datosOption in  filtro.filtroDatos.valores %}
                                {% if valorOption != '0' %}
                                    <option
                                        value="{{ valorOption }}"
                                        {% if datosOption.selected %} selected {% endif %}>
                                            {{ datosOption.texto|capitalize }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
</div>

<script>

$(document).ready(function(){

    function capitalizeFirstLetter(string){
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    $(".jquery-multiselect").each(function(){
        $el = $(this);
        nombreFiltro = capitalizeFirstLetter($el.attr("data-tag"))
                       || capitalizeFirstLetter($el.attr("id"));

        $el.multiselect({
            header: true,
            minWidth: 'auto',
            checkAllText: "Todas",
            uncheckAllText: "Ninguna",
            noneSelectedText: nombreFiltro,
            selectedText: nombreFiltro + " : # de #"
        })
    }).multiselectfilter({label: "Filtro", placeholder:"Texto búsqueda"});

    //Una vez pintado el multiselec, oculto el filtro asociado a la vista
    var vista= $("#raiz option:selected").attr("text");
    initFiltroVariablesOculto(vista);

    (function estilosMultiselect(){
        $(".ui-multiselect-filter input[type=search]").css("width", "93%");
        $("button.ui-multiselect").css("background-color", "white");
        $("button.ui-multiselect").css("background-image", "url()");
        $("button.ui-multiselect").css("height", "34px");
        $("button.ui-multiselect").css("border-radius", "4px");
        $("a.ui-multiselect-close").html("ok");
    })();

    //Por defecto se ocultan los select que van a redibujarse con los
    //multiselect, para evitar esos saltos que pegan.
    $(".hideMultiselect").addClass("showMultiselect");
    $(".hideMultiselect").removeClass("hideMultiselect");
    
    // Evento sobre la la vista
    $("#raiz").change(function(){ 
        var vista= $("#raiz option:selected").attr("text");
        // para ocultar y desocular filtros en funcion de la vista seleccionada,
        // y uncheck a los posibles filtros seleccionados.
        ocultarDesocultarFiltrosVariables(vista);
        quitaTodasAlertas(); //Cuando se cambia de vista quito las alertas
        chequearCruce(vista);
    });

});

    // ------------------ FUNCIONES INTERNAS ------------------------

// Ocultar el filtro seleccionado por la vista al inicio de la carga.
function initFiltroVariablesOculto(vista){
    var nombreFiltro = "#"+vista+"-filtro";
    $(nombreFiltro).parent("div").hide();
}

//Esconder el filtro asociado a la vista seleccionada
//y sus posibles valores seleccionados y mostrar el oculto.
function ocultarDesocultarFiltrosVariables(vista){
    var filtroOcultar = vista+"-filtro";
    //Muestro los todos los filtros
    $('select.filtro-maqueta').each(function () {
        var nombreFiltro = $(this).attr("name");
        if(nombreFiltro.search("-filtro")!==-1){
            $("#"+nombreFiltro).parent("div").show();
        }
    });
    //Oculto y desmarco los posibles valores
    $("#"+filtroOcultar).parent("div").hide();
    $("select"+"#"+filtroOcultar).multiselect("uncheckAll");
} 

// Chequear si el input del cruce es necesario cambiarlo
// o no, en funcion de la vista seleccionada
function chequearCruce(vista){
    var filtroOcultar = vista+"-filtro";
    var cruce = "cruce_"+filtroOcultar;
    //Si para el filtro a ocultar esta marcado el cruce, chequeo otro
    if($("#"+cruce).is(":checked")){
        //Selecciono el resto de inputs y me quedo con el primero
        var cruceMostrar = $('input[name=cruce]').not($("#"+cruce))[0];    
        //$("#"+cruce).prop("checked",false); //Desmarco el marcado
        $(cruceMostrar).prop("checked",true); //Marco el siguiente
    }
} 

// Cambia el texto X para cerrar el multifilter por Ok
function cambiarIconoX(){
    $(".ui-multiselect-close").children("span").attr("class","");
    $(".ui-multiselect-close").children("span").text("Ok");
}

</script>