{# alerta CG: Se podría construír un filtro especial para hacer estas operaciones
de forma automática #}

<div id="{{id}}"
    class="col-xs-12 no-padding widget-filtros-especializado">
        {% if datos.cabecera != "" %}
            <div class="col-xs-12 cabecera">
                {{datos.cabecera}}
            </div>
        {% endif %}
        <div class="col-xs-12 cuerpo hideMultiselect">
            {% for filtroId, filtro in datos.filtros %}
                <div class="form-group col-xs-4">
                    <select
                        name="{{filtroId}}"
                        id="{{filtroId}}"
                        class="filtro-maqueta jquery-multiselect"
                        data-tag ="{{filtro.tag}}"
                        multiple="multiple">
                            {% for valorOption, datosOption in  filtro.filtroDatos.valores %}
                                {% if valorOption != '0' %}
                                    <option
                                        value="{{ valorOption }}"
                                        {% if datosOption.selected %} selected {% endif %}>
                                            {{ datosOption.texto }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
</div>

<script>
$(document).ready(function(){

    function capitalizeFirstLetter(string){
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    $(".jquery-multiselect").each(function(){
        $el = $(this);
        nombreFiltro = capitalizeFirstLetter($el.attr("data-tag"))
                       || capitalizeFirstLetter($el.attr("id"));

        $el.multiselect({
            header: true,
            minWidth: 'auto',
            checkAllText: "Todas",
            uncheckAllText: "Ninguna",
            noneSelectedText: nombreFiltro,
            selectedText: nombreFiltro + " : # de #"
        })
    }).multiselectfilter({label: "Filtro", placeholder:"Texto búsqueda"});

    (function estilosMultiselect(){
        $(".ui-multiselect-filter input[type=search]").css("width", "93%");
        $("button.ui-multiselect").css("background-color", "white");
        $("button.ui-multiselect").css("background-image", "url()");
        $("button.ui-multiselect").css("height", "34px");
        $("button.ui-multiselect").css("border-radius", "4px");
        $("a.ui-multiselect-close").html("ok");
    })();

    (function(valoresFiltrosEnSesion){

        Object.keys(valoresFiltrosEnSesion).forEach(function(nombreFiltro){
            if(nombreFiltro === "configuracionVisualizacion"
                || nombreFiltro === "temporalidad")
                return false;

            valores = valoresFiltrosEnSesion[nombreFiltro] instanceof Array
                ? valoresFiltrosEnSesion[nombreFiltro]
                : [valoresFiltrosEnSesion[nombreFiltro]];
            $select = $("select[name=" + nombreFiltro + "]");

            valores.forEach(function(valor){
                // Evita error de jQuery con finalización de la ejecución del
                // código por un valor que sea "null"
                if(valor === ""
                   || valor === 0
                   || valor === "0"
                   || valor === undefined
                ){
                    return true;
                }

                $(".widget-filtros select[name=" + nombreFiltro + "]")
                    .multiselect("widget")
                    .find("[value=" + valor + "]")
                    .trigger("click");
            })
        });

    })({{datos.valoresSeleccionados|json_encode|raw}});

    (function(filtrosADeshabilitar){
        filtrosADeshabilitar.forEach(function(filtro){
            var nombreFiltro = filtro["nombre_filtro"];
            console.log(nombreFiltro);

            $(".widget-filtros-especializado select[name=" + nombreFiltro + "]")
                .multiselect("disable");
        });
    })({{datos.filtrosADeshabilitar|json_encode|raw}});

    //Por defecto se ocultan los select que van a redibujarse con los
    //multiselect, para evitar esos saltos que pegan.
    $(".hideMultiselect").addClass("showMultiselect");
    $(".hideMultiselect").removeClass("hideMultiselect");    
});
</script>